[2017-11-28 19:36] owocki opened #1 "p2p Recruiting Incentives"
# What

i’m offering a 15% recruiting bounty for any of the below issues.  if you introduce someone to gitcoin (or to a bounty itself) and they get it paid out, you get 15% of the bonus!

https://gitcoin.co/funding/details?url=https://github.com/etherdelta/etherdelta.github.io/issues/226
https://github.com/ConsenSys/smart-contract-best-practices/issues/55
https://github.com/trufflesuite/truffle/is

[2017-11-29 16:15] owocki commented on #1
idea: eventually allow submitters of bounties in the p2p network (gitcoin) to allocate 5% (or similar) of their bounty to recruitment through the smart contract

[2017-11-29 21:34] owocki opened #2 "Copy writer: come up with a concise / catchy name for a gitcoin user"
Feedback from a friend:

I think it can be even better if you build in a sense of community - once you're part of Gitcoin, you're part of the community, one that gives shits and also provides job opportunities. I suggest branding the name of your loyal Gitcoinees, something catchy that makes them feel like they're a part of the open source revolution - your weekly digests can also start off this w

[2017-11-29 21:57] cryptomental commented on #2
Gitcoinians ?

[2017-11-29 22:01] chunkzer commented on #2
- Gitter
- Gitgetter

[2017-11-29 22:55] stevejaxon commented on #2
Maybe a bit long-winded, but **_Gitcointrepreneur_**

[2017-11-29 23:03] sergio-alonso commented on #2
GitSeeker

[2017-11-29 23:11] miguel550 commented on #2
CryptoPirates because we seek for bounty in the open sea of repos in github (following the idea of Bounty Hunter).

[2017-11-30 00:58] mehranhydary commented on #2
Coiner
GCoiner
GitCoiner
GCoiner
Bounty Coiner
Issue Coiner
Bug Coiner
Git Bugger
Coin Bugger

[2017-11-30 02:17] Zolmeister commented on #2
# :bulb:  Gitcoin Hunter :gun:  :fire:

[2017-11-30 03:39] jasonrhaas commented on #2
Gitcoiners is probably the best one that I can see at the moment.  I also like the phrase _Git Paid with GitCoin_

[2017-11-30 14:44] EntityAdam commented on #2
I came up with
-Gitcoin Operator(s).  Could be shortened to Operator(s) or could also be acronym-ed to GCop(s).
-Operator definition: a person engaged, employed, or skilled in some branch of work, especially productive or industrial work; worker.

I especially prefer the reference to 'skilled' and 'productive'

[2017-11-30 15:00] stevejaxon commented on #2
**_Bunters_**
A shortening of Bounty Hunters inspired by Ready Player One's **_Gunters_**.
A clan of _Bunters_ go on bounty hunts together - also referred to as _Bunts_.

[2017-11-30 19:17] owocki opened #3 "Gticoin T shirts Design"
# requirements

* i'd like 3 design revisions.
* first revision, pls give me 3 options or directions. we will choose one
* use anything in the press kit
* gitcoin mission is 'push open source forward'. feel free to use it or not.
* any questions?  leave a comment below?

Please DO NOT make the t shirt into a billboard.  The t shirt should be artful and not too self promoterey.

# bounty

will post

[2017-11-30 21:06] cryptomental commented on #3
![gitcointshirtcontest](https://user-images.githubusercontent.com/20819151/33454913-a5d63420-d61a-11e7-8898-cc53e152a658.png)

; - )

[2017-12-01 18:39] owocki commented on #3
@cryptomental thanks for the submission!

[2017-12-01 18:40] owocki commented on #3
added this requirement for the design per a convo this am with @pipermerriam:

[2017-12-01 18:51] pipermerriam commented on #3
Random musings on the subject: I avoid wearing shirts with "words" on them for the mentioned *billboard* reason.  I'm *ok* wearing certain logos when I either believe in the thing behind the logo or the logo is artful enough that it's not *just* a brand.  Neither of these are hard-fast rules and you'll find me breaking them regularly but.... self consistency is hard.

[2017-12-01 21:05] cryptomental commented on #3
2nd one

![gitcoin2nd](https://user-images.githubusercontent.com/20819151/33503345-abfbf2da-d6e3-11e7-8c31-2966ba74c276.png)

[2017-12-01 21:55] cryptomental commented on #3
3rd

![gitcoin3rd](https://user-images.githubusercontent.com/20819151/33505181-a6b30ee2-d6ea-11e7-8ae3-bd00911c7e86.png)

;)

[2017-12-01 22:25] gfoster commented on #2
Riffing off EntityAdam, GCOs (pronounced Geckos). GitCoin Operators.

[2017-12-03 20:43] cryptomental commented on #3
To sum up, it would be great to compare my three proposals against some others, perhaps more artistic ones. Anyway kids that I shown the designs to seemed to like 2nd and 3rd one the most. They would not mind to wear one, even with too many words on them.

[2017-12-04 03:27] owocki commented on #3
thanks for your contributions @cryptomental !

i'd love to other submissions from artistic folks out there!

[2017-12-04 03:28] ernaneluis commented on #3
I submited my claim on the website.
I was trying to play with the words: "world" and "hold"/"hodl"
Here is my versions:

#  V1
![t-shirt-mockup_front_v1](https://user-images.githubusercontent.com/1398769/33535017-538131fa-d8ab-11e7-9694-4682966c3fc6.jpg)
![t-shirt-mockup_back_v1](https://user-images.githubusercontent.com/1398769/33535016-5368ade2-d8ab-11e7-9070-434bd2236e99.jpg)

#  V2
![t-shirt-m

[2017-12-04 04:03] owocki commented on #3
thanks for your submission @ernaneluis!!

[2017-12-04 04:04] owocki commented on #3
everything sent in so far is very cool!

[2017-12-04 04:04] owocki commented on #3
https://github.com/gitcoinco/gitcoinco/issues/2 i wonder if theres a way to work these nicknames in

[2017-12-04 10:01] ernaneluis commented on #2
1. Huntiers
2. Gitz
3. Getz

[2017-12-04 17:53] owocki commented on #3
from a coloradoblockchain.com friend => I like ” I code while you sleep” and V2 and V3

[2017-12-04 18:22] owocki commented on #2
glad to see so many submissions!  2 more days for submissions then we'll vote

[2017-12-09 16:46] owocki commented on #3
suggestion from a friend:

[code]

[2017-12-09 16:47] Coinguybri commented on #3
Do work
Git coin

Love it!

[2017-12-10 23:07] missBerg commented on #3
# The launch of bounty hunters
New bounty hunters launching on their journey
<img width="475" alt="screen shot 2017-12-10 at 22 58 16" src="https://user-images.githubusercontent.com/17533717/33810587-7c35e188-ddfe-11e7-8c56-fffbcfc76dce.png">

# Bubbling ideas
Ideas turn into work that turn into gitcoin
<img width="446" alt="screen shot 2017-12-10 at 22 59 18" src="https://user-images.githubuserco

[2017-12-11 19:33] owocki commented on #3
some more optoins provided by gitcoi
![screen shot 2017-12-11 at 12 33 06 pm](https://user-images.githubusercontent.com/513929/33849951-7c5f5006-de6f-11e7-8bcd-38c4e56497f9.png)
![screen shot 2017-12-11 at 12 33 02 pm](https://user-images.githubusercontent.com/513929/33849952-7c8822a6-de6f-11e7-8528-84621104d680.png)
![screen shot 2017-12-11 at 12 32 44 pm](https://user-images.githubusercontent.co

[2017-12-11 23:34] owocki commented on #2
@cryptomental  @stevejaxon @sergio-alonso @miguel550 @mehranhydary @Zolmeister @jasonrhaas @EntityAdam @gfoster @ernaneluis
please vote for your favorite here!

https://goo.gl/forms/elSnDU1T4iT0nXix2

[2017-12-11 23:42] owocki commented on #3
@cryptomental @pipermerriam @ernaneluis @Coinguybri @missBerg pls vote for your favorite here!

https://goo.gl/forms/OKnKif9o7JYTcQPJ3

[2017-12-12 12:06] fforbeck commented on #2
- Geether
- Gitbutor
- Coinmitter
- Coinbutor
- Devether

[2017-12-12 13:41] marverick42 commented on #2
Similar to @Zolmeister but a little shorter: GitHunter
@fforbeck maybe Cointributor?

Or: Git(coin) Hunter: Open Source Developer aka G.H.O.S.D or ghosd
Or: Greatly Helping Open Source Development aka G.H.O.S.D or ghosd

[2017-12-12 21:36] Elaniobro commented on #2
GitCoinEater
GitBitDestroyer
GitCoinator
CoinGiter
MsPacCoin
MrPacCoin

[2017-12-12 21:59] kvndlgs commented on #2
Gitser(s)
Gitcoinistanian
Belieber ?

[2017-12-13 00:45] sunk818 commented on #2
I like fossie or fossy . We can koala mascot character

Forward open source

[2017-12-13 17:45] dustinsterk commented on #2
"Coinsultants" a spoof of the term consultant:

A consultant (from Latin: consultare "to deliberate") is a professional who provides expert advice in a specific subject matter.

[2017-12-14 22:37] owocki opened #4 "Please post here if you are having a hard time claiming or submitting a gitcoin issue."
Please let us know

* that you have metamask installed
* what your ETH address is
* what your balance is
* what is preventing you from submitting the claim on web3

[2017-12-14 22:39] owocki commented on #4
i just removed the google form for non-web3 submissions.   it was confusing end users bc they thought they had claimed issues by submitting the google form (which was intended to just be useful for those looking for help) 566952f3fb8a6f3237f6fe3841fde029dba15d75

[2017-12-14 22:55] owocki opened #5 "FAQ: Why do i Need eth/gas to use the system?"
See other FAQ questions here: https://gitcoin.co/about#faq

From https://www.cryptocompare.com/coins/guides/what-is-the-gas-in-ethereum/ :
[code]

[2017-12-15 18:09] owocki opened #6 "Network Values, Mission, and Culture"
I think that if we're going to build a distribued _movement_ we have to very explicitly design the culture, and what binds us together as a community.

In the spirit of doing so, I took the liberty of drafting up the below Mission, Vision, Values, and Cultural attributes of this network.

This is in NO WAY final, and I am an equal participant in the conversation with each of you.  Please consider

[2017-12-15 18:14] mehranhydary commented on #6
I love this!

[2017-12-15 18:20] coderberry commented on #6
This is awesome!

[2017-12-15 18:21] owocki commented on #6
Some good feedback from slack:

my 2c on the abovE:

i think the mission and the world we want to create is a good start.

then the cultural attributes are maybe just more what kind of cultures _ive always wanted to work in_

[2017-12-15 18:23] owocki commented on #6
more good stuff:

last time I built a team, I locked us all in a room and we defined what kind of team we wanted. Not culture wise, but how we wanted to feel workign on the team. Then I spent a great deal of time building an environment that encouraged the behaviors we wanted and the culture grew out of it. I learned that from studying Dee Hock :slightly_smiling_face:

[2017-12-16 05:22] PixelantDesign commented on #6
I really like the principles and tenets that you have so far!

I do think there is an opportunity to bring additional focus to mission: "Push Open Source Forward" piece.

A mission statement is intended to clarify the 'what' and 'who' of a company, while a vision statement adds the 'why' and 'how'.

Here is an example:
Warby Parker: "To offer designer eyewear at a revolutionary price, while leadin

[2017-12-17 01:52] owocki opened #7 "Should user be able to pull a bounty from the network?"
https://github.com/MyEtherWallet/MyEtherWallet/issues/556

im not doing any of this issue :slightly_smiling_face:  i just sent myself back the money because thats the only way to get it out of the smart contract.

the app should be able to handle 'kill'ed bounties (per standardbounty parlance0, and it should be able to to correctly advise the github thread about that

[2017-12-17 15:28] ethikz commented on #7
@owocki I'll take this one along with https://github.com/MyEtherWallet/MyEtherWallet/issues/558

[2017-12-18 05:30] owocki opened #8 "Spec Work?"

[2017-12-18 05:30] #8 closed

[2017-12-18 05:33] owocki opened #9 "Is Gitcoin a place where Spec Work should exist?"
Per https://github.com/gitcoinco/web/issues/130#issuecomment-352273930

on some other bounty platforms, [spec work](http://justcreative.com/2009/08/12/the-pros-and-cons-of-spec-work/) is built into the system.

[Spec work is controversial](https://www.nospec.com/).

I have my own opinions about this topic, but I will withhold them from this discussion and instead let the community speak.

My only

[2017-12-18 05:36] owocki commented on #3
![artboard 11](https://user-images.githubusercontent.com/513929/34091413-b3ca10a2-e37a-11e7-9f26-fe201c7a5c5c.png)

heres one that a friend of a friend did for me.

[2017-12-18 05:39] owocki commented on #3
"binary - @missBerg" got the most votes.  followed by v3 by @ernaneluis .. congrats to you both.

i'm paying out a portion of the bounty to each of you now.

[2017-12-18 05:51] #3 closed

[2017-12-18 05:58] owocki commented on #2
[code]

i'm disqualifying `GitCoiner` and `Bounty Hunter` since i put those in my suggestions in the post above.

here is a 2nd voting form for a runoff between the remaining top options => https://goo.gl/forms/8H6yrfOQMOrk9WPF3

[2017-12-18 06:52] owocki commented on #6
i am conflicted about whether or not to merge the work that's being done on the design here => https://github.com/gitcoinco/web/pull/129#issuecomment-352183103

or whether to let these values be debated and bubble up in a little more organic kind of way

[2017-12-18 09:38] thelostone-mc commented on #9
My 2 cents : correct me if I'm wrong but the gitcoin mission is to encourage open source

I believe transforming gitcoin into a spec work goes against that cause :
- makes the whole process competitive (which might be beneficial to the issue submitter but not the devs who put it effort. )
- **imp** reduces collaboration between developers (Given an issue in a spec work based system -> I would be h

[2017-12-18 18:01] owocki opened #10 "How do Tips work?"
# Send Tip

When you go to https://gitcoin.co/tip

![screen shot 2017-12-18 at 10 58 21 am](https://user-images.githubusercontent.com/513929/34120308-65d35774-e3e2-11e7-875a-02d4570654f0.png)

and send a tip,

![screen shot 2017-12-18 at 10 58 40 am](https://user-images.githubusercontent.com/513929/34120313-6b145dd2-e3e2-11e7-89b8-3a85fd250eef.png)

a notification is sent to the users github email

[2017-12-18 18:37] owocki commented on #10
From a chat convo:

[code]
[code]

[2017-12-19 20:57] owocki commented on #9
on a call with my friend ben now, if we can get as close as possible to "if this test passes, then i will get paid" then that is desirable from both sides of the coin.

[2017-12-20 18:43] owocki commented on #5
- gas limit is how many cycles (think opcodes) your transaction will take.

your transaction might fail if you don’t pay a high enough gas limit.  gitcoin _should_ provide an adequate gas limit to most transactions, but report a bug if we dont!

- gas price is how much ETH you’re willing to pay per cycle.

your transaction might take forever to get confirmed if you don’t choose a market viable gas

[2017-12-21 02:05] owocki commented on #2
`Bunters` wins!  cool!

[2017-12-21 02:06] #2 closed

[2017-12-21 19:45] owocki opened #11 "balance claiming process for posters / submitters"
claiming process needs to be designed in a way that creates the optimal outcome for the bounty poster, but also doesnt force network members to do ‘spec work’

https://github.com/gitcoinco/gitcoinco/issues/9

[2017-12-21 19:45] owocki commented on #11
https://github.com/gitcoinco/gitcoinco/issues/9

[2017-12-23 15:47] owocki opened #12 "What gas price / limit should I use?"
<img width="369" alt="screen_shot_2017-12-23_at_7 28 53_am" src="https://user-images.githubusercontent.com/513929/34320719-8013ce78-e7bd-11e7-9c1e-20b79730f5fd.png">

# What gas price should I use?

## Basic Answer

gitcoin is smart enough to set a gas price that will confirm within 5 minutes.  so if thats what was filled in when you pressed the button on gitcoin, that value should be good

that s

[2017-12-23 16:03] owocki opened #13 "What is the difference between Gitcoin and Centralized hiring websites?"
here are many successful centralized hiring resources available on the web.  Because these platforms were an efficient way to source, select, and manage a global workforce , millions of dollars was processed through these systems every day.

Gitcoin takes the value that flows through these system, and makes it more efficient and fair.  Gitcoin is a distributed network of smart contracts, based upo

[2017-12-23 16:05] owocki opened #14 "What are the advantages of Ethereum-based applications?"
Here are some of the advantages of Ethereum based applications:

* Lower (or no) fees
* No middlemen
* No third party owns or can sell your data
* No international conversion fees
* Get paid in protocol, utility, or application tokens; not just cash.

See also [What is the advantage of Gitcoin over Centralized hiring websites?](https://github.com/gitcoinco/gitcoinco/issues/13)

[2017-12-26 19:20] rafaelfragosom commented on #5
If I understood this right, the gas price is paid by us (that's why we need ETH in our wallets)?

Can it be taken from our rewards automatically when we complete our claims? It would be awesome, because there are places where it's difficult to buy other altcoins like ETH, other than bitcoin, and people may lose interest in bounties.

I hope I understood this right. Correct me if I'm wrong, please.

[2017-12-26 19:53] owocki commented on #5
That's right.

It's something that may be enabled in future Ethereum versions.  I believe the 2nd Metropolis fork allows contracts to pay their own gas.  But we'd need to consider the design considerations of how this opens up the system to sybil attacks.  I worry that if users don't have to pay gas to claim an issue.. they'll just go around claiming any issue because it's cheap to do so and there

[2017-12-26 20:06] rafaelfragosom commented on #5
Hmmm.

I would love to work on the cross-browser extension but I don't have a way of purchasing ETH without buying Bitcoin and paying ShapeShift a huge fee to exchange for some ETH.

What you recommend me doing?

[2017-12-26 20:09] owocki commented on #5
are shapeshift fees that high?  IIRC they were on the order of 0.5% - 1% worse than a market rate excahgne.

im happy to give you a little ETH to play with the system.    DM me your ETH address

[2017-12-26 20:14] rafaelfragosom commented on #5
Sent. Thank you!

[2017-12-26 23:26] owocki opened #15 "Anatomy of an Ethereum Transaction"
From https://medium.com/blockchannel/life-cycle-of-an-ethereum-transaction-e5c66bae0f6e

[2017-12-28 20:19] owocki commented on #9
note from call with a designer today: spec work is good for building out a portfolio, but you can't make your career / money on spec work.

[2017-12-29 15:39] owocki opened #16 "interaction between different levels of expressed interest on an issue."
credit to @thelostone-mc for this idea:

# implementation

this is maybe something that could be built upon @mbeacom’s work at https://github.com/gitcoinco/web/pull/156

[2017-12-29 15:40] #16 closed

[2018-01-02 13:47] empea-careercriminal commented on #6
Maybe an addition here:

Encourage the newbies and foster their talent on their journey to becoming awesome. Start early and never give up on anyone.

Might be worth thinnking about how to encourage basically everyone to forget what they were told about their abilities and problem solving skills and opening up a place where personal improvement is a natural thing that comes to those who contribute

[2018-01-02 15:59] owocki commented on #6
@empea-careercriminal i love this.  i need a way to capture it concisely though..  if i had to roll everything up into a pithy phrase it'd probably be

* mentorship
* lifelong-learning

[2018-01-02 18:58] PixelantDesign commented on #6
Yes!! So inspiring!

[2018-01-04 12:42] abitrolly opened #17 "Rejecting didn't work"
On this issue https://gitcoin.co/funding/process?source=https://github.com/open-eid/linux-installer/issues/13

I tried to Reject issue and gitcoin.co generated transaction in Metamask with 5 Wei price. It was present at https://etherscan.io/tx/0x33eeecd053e4e4509d5c5cb4129363bbc5aa7a00c11c0a90dc767ac889b31cb6 but then gone.

I tried to increase the price to 7, but transaction didn't reappear. So I

[2018-01-04 12:44] abitrolly commented on #17
Affects process over https://github.com/open-eid/linux-installer/issues/13

[2018-01-04 15:42] owocki commented on #17
i get an "Invalid TxHash  0x0a5b9fe71b69fc2880911fe760a1aca580a8bd18e04b3e5da6dd8  entered" when i click https://etherscan.io/tx/0x0a5b9fe71b69fc2880911fe760a1aca580a8bd18e04b3e5da6dd8

[2018-01-04 15:43] owocki commented on #17
@abitrolly  i just went in and synced https://gitcoin.co/funding/details?url=https://github.com/open-eid/linux-installer/issues/13 wit hthe blockchain. the rejection has processed now!

root cause fix for this is being tracked at https://github.com/gitcoinco/web/issues/128

[2018-01-04 15:44] owocki commented on #17
ok to close this issue now?  thanks for the bug report :)

[2018-01-05 16:46] abitrolly commented on #17
https://etherscan.io/tx/0x0a5b9fe71b69fc2880911fe760a1aca580a8bd18e04b3e5da6dd8e1ca55b0a7f - its tail was stripped. It is ok now. Subscribed to https://github.com/gitcoinco/web/issues/128

[2018-01-05 16:46] #17 closed

[2018-01-08 16:29] owocki commented on #12
this browser extension is really useful for seeing the latest gas prices straight inbrowser https://chrome.google.com/webstore/detail/ethereum-gas-price-extens/innfmlnnhfcebjcnfopadflecemoddnp

[2018-01-09 16:26] owocki opened #18 "The big 'The mainnet is too costly' thread."
# context
Given the explosive growth of the ethereum mainnet

![screen shot 2018-01-09 at 9 21 58 am](https://user-images.githubusercontent.com/513929/34731109-91c68ef8-f51e-11e7-87b2-ca8023d027ae.png)

we are starting to see high gas costs for transactions on the ethereum mainnet
![screen shot 2018-01-09 at 9 22 32 am](https://user-images.githubusercontent.com/513929/34731131-a2af7950-f51e-11e7-9

[2018-01-09 18:59] owocki opened #19 "onboarding guide"
i was just thinking... we get so much interest in #community-intros... it'd be great to increase the pct of ppl who stick around..

i wonder if an 'onboarding guide' that helps people get oriented in all of the mechanics of the product and community... and helps them understand how each can help their career... would do so

[2018-01-09 18:59] owocki commented on #19
thoughts on this idea @vs77bb ?

[2018-01-10 03:48] mkosowsk commented on #18
I agree with keeping tx fees low to aid in adoption of the platform 👍

Might be useful to think about target price ceilings for submissions and claims, perhaps something like $3 to submit and $1 to claim?

I'm not sure how you could go about lowering these fees technically or even if its possible at all (some type of a subsidy method?), i need to sink my teeth more into the smart contract!

[2018-01-10 04:27] owocki commented on #18
one thing @mbeylin and i have talked about is using sidechains... or gitcoin helping to pay some of the gas fees... in order to solve (err.. stopgap)... this

[2018-01-10 12:48] mkosowsk commented on #18
Interesting, are side chains similar to what is talked about in this article for IDEX with state hop?

https://medium.com/aurora-dao/idex-decentralized-exchange-state-channel-afca2e5809b1

Or is that a different beast?

[2018-01-10 14:08] vs77bb commented on #18
What about using each developer 'Profile' on the Gitcoin website as a place to store their funds? Then, the user has the option to 'flush' their funds to the main Ethereum chain and pay the gas fees down the road? This is similar to the approach Earn.com took with Bitcoin, where my (relatively minuscule) balance still sits on their website // the Venmo approach.

Pros: Each transaction doesn't nec

[2018-01-10 15:19] owocki commented on #18
This is a good idea.. We need to check in with legal / security about the risk and legal implications of hosting a wallet on the site though..

[2018-01-10 16:05] vs77bb commented on #19
@owocki I think this is a fantastic idea and have added it to content as
higher priority. More to come soon :)

On Tue, Jan 9, 2018 at 12:59 PM, Kevin Owocki <notifications@github.com>
wrote:

--
Vivek Singh
(832)-528-4800
LinkedIn <https://www.linkedin.com/in/vivek-singh-b5a4b675> | AngelList
<https://angel.co/vivek-singh-9>

[2018-01-10 20:40] owocki commented on #18
for context on why the system is designed to all be on-chain right now... when i first wrote the system, gas prices were 1 gwei for < 15 second confirmation

[2018-01-10 20:53] vs77bb commented on #18
To break down my point from this morning more, I'd say:

- **Claiming A Bounty**: Does not need to happen on chain, at all.
- **Paying A Completed Bounty**: Does not need to immediately be paid out on chain. Can be included on a Gitcoin developers profile, under a "wallet" of sorts. When the developer decides they are ready to cash out, this triggers an on-chain transaction which requires gas once

[2018-01-10 20:55] vs77bb commented on #18
@mbeylin Curious, do you have thoughts here?

[2018-01-10 21:01] mbeylin commented on #18
In my opinion, claiming a bounty can easily be offloaded off-chain without any hindrances. I do however think that the actual fulfillment of a bounty (i.e. creating a relevant pull request, or submitting the code) should be on chain. Then when the bounty pays out, it's clear that there's a recorded exchange of the IP that was submitted, and the tokens in question.

On the concept of having Gitcoin

[2018-01-10 21:09] vs77bb commented on #18
@mbeylin That's helpful, thanks for sharing your thoughts. I agree with you that at the very least, it will be a large undertaking to do user wallets / anything of the like.

I think we can all agree, then, that the low hanging fruit is taking the claim process off-chain.

This part to me is substantially more of a hindrance from a UI perspective anyways (I have to get MetaMask, get ETH, and use i

[2018-01-10 22:02] jclancy93 commented on #18
Another possible solution is to implement a gas limit on the Gitcoin smart contract. It would mean that state changes in the contract would take a looong time (given current load of the mainnet), but this would also guarantee that you couldn't front-run people trying to claim bounties by increasing the gas price.

Definitely not the most exciting solution, but it would allow bounties to be kept on

[2018-01-10 22:16] KamesCG commented on #18
**Off-Chain Claim**: What's the benefit to keeping claims on chain? Could we just off-load claim information to IPFS in JSON (essentially static API) with time-stamps and associated claimer information? Push a new JSON file every time a new issue is claimed?

**Generating Transaction Tokens**: A idea I was playing around with the other day (in relation to one of the other issues) was utilizing Bro

[2018-01-10 23:11] owocki commented on #18
i think that the move to standardbounties will help.. considering standardbounties stores much more on IPFS, and less on the blockchain... than gitcoin's smart contracts do

[2018-01-10 23:32] KamesCG commented on #18
Maybe I can help create a code map, flow chart or something visual to help with a shared context of just how everything is moving around? I might be in the minority, but just wrapping my head around the big picture in terms of charts and pretty colors helps me a lot.

[2018-01-11 02:17] mkosowsk commented on #18
A 👍 to creating flow charts to compare different implementations, definitely would be helpful to me and I think others as well

[2018-01-11 05:18] vs77bb commented on #18
+2 on the code map... Would be interesting to see the implementation
possibilities for off chain claims.

Kames I had never heard about the Browser mining stuff, that’s wild...

On Wed, Jan 10, 2018 at 8:17 PM mkosowsk <notifications@github.com> wrote:

--
Vivek Singh
(832)-528-4800
LinkedIn <https://www.linkedin.com/in/vivek-singh-b5a4b675> | AngelList
<https://angel.co/vivek-singh-9>

[2018-01-11 20:35] KamesCG commented on #18
@vs77bb Browser Mining is an interesting concept. WebAssembly gives near native compiled C++ speeds (something like 70%) and will probably get better too.

I only wrapped React components around https://coinhive.com/ and starting understand the source code a bit. CoinHive wants to replace captchas and other lower barrier tasks to pool together hashing power across the Internet.

[2018-01-11 20:36] mbeylin commented on #18
I think browser mining is a very tricky thing... you can only do it if you've warned users in advance about what you're doing. Mining in the background without asking in advance is very bad manners in my opinion

[2018-01-11 20:40] KamesCG commented on #18
@mbeylin  Agreed. Which is why I went the interface route :)

But if you let people know and say "Hi we're doing small amounts of hashing, so people who can't pay the barrier to entry (globally) can have Bounty to Gas for OSS claims. Oh and by the way here is a list of curated resources and materials, so while you are browsing the site and learning we'll run 20%-40% of your CPU to distribute those

[2018-01-11 23:56] owocki opened #20 "user feedback"
feedback: the coordination around “who’s gonna get paid for this thing” conversation can be a bit much at times. https://github.com/ConsenSys/Tokens/issues/103#issuecomment-356651466

[2018-01-12 14:51] owocki opened #21 "Mission: Push Open Source Forward vs Grow Open Source"
I've been delberating the mission recently...

It was originally

# Push Open Source Forward

![phrases-11](https://user-images.githubusercontent.com/513929/34880265-2b780568-f76d-11e7-8bbf-e23a0c0149a8.png)
![pushossfwd](https://user-images.githubusercontent.com/513929/34880269-2e18638a-f76d-11e7-8787-80018975471a.jpg)

but I am contemplating whether we should change it to

# Grow Open Source

![

[2018-01-12 14:52] owocki commented on #21
@coderberry @mbeacom @vs77bb @pixelantdesign @kamecg @thelostone-mc @tra38 @ethikz @amites  curious what you think!  and please tell me what you _really_ think, like it or not!

[2018-01-12 15:23] tra38 commented on #21
- When I hear "push open source", I don't really know what you're talking about (sure, you say "push"...but "pushing" open source to do *what*, exactly?). So I have to dig deeper to find out what Gitcoin is.
- When I hear "grow open source", I think the phrase means "increase the usage/domination/adoption/proliferation of open source projects within society". That could be an appealing goal for so

[2018-01-12 15:34] amites commented on #21
_pre-coffee thoughts_

grow open source sounds/feels like an organic inclusive process, "come get involved and let's make this better together"

push open source sounds/feels like effort, your thoughts on meeting resistance when pushing hits the nail on the head

and yeah, the logo is cooler -- original seems like you're in a race the "tree" comes back to "make something bigger together"

[2018-01-12 15:39] vs77bb commented on #21
@tra38 Your perspective helps me frame my thoughts. I am +1 on "Growing Open Source" or a variant over "Push Open Source Forward." However, I think it's important to explain what someone is doing when they Grow Open Source (in a content piece to come).

- Directly contribute to the collective consciousness of the internet
- Can immediately improve systems which affect millions of lives
- Allow the

[2018-01-12 16:07] mbeacom commented on #21
I am 👍 for: `"Grow Open Source"`

@tra38 makes some valid points regarding the optimistic leaning and implicit nature of growing versus pushing.
However, I'm inclined to agree with @vs77bb.
I think the simplicity and generality of "Grow Open Source" make for an enticing mission statement.

[2018-01-12 19:05] thelostone-mc commented on #21
+1 Grow open source

Everyone here covered whatever I wanted to say!
@mbeacom
And yes it's a more positive mission statement. ( To me the word grow feels inviting unlike push which feels like it's being forced upon.
Also in my head, when you say Grow Open Source = Community grows = You grow and meet smarter folks = exciting  )

PS : the artwork is neat :D

[2018-01-15 20:12] owocki commented on #21
seems like 'grow open source' is the crowd favorite.  closing this now.. we should migrate the imagery/copy over soon.

[2018-01-15 20:12] #21 closed

[2018-01-23 14:53] owocki opened #22 "standardbounties: support new IPFS schema"
https://github.com/ConsenSys/StandardBounties/issues/21

[2018-01-23 14:54] #22 closed

[2018-01-23 20:51] uluhonolulu opened #23 "Autoredirected"
I first visited the issue browser using a link to https://gitcoin.co/explorer?q=consensys. Now whenever I try to get to the whole list (https://gitcoin.co/explorer), I keep being redirected to the original page.

Latest Chrome with MetaMask enabled.

[2018-01-23 22:00] owocki commented on #23
hi @uluhonolulu if you clear the search bar and press enter, itll send you to the whole list

maybe something we should change is that if `q` parameter is not present, it takes you to the whole list (as opposed to the last thing you serached)?

[2018-01-23 22:44] owocki commented on #5
ive been thinking a lot about how we transition web2 users to web3. we get the questions “what is web3? what is ethereum and why do i need it?” a lot.

as a means of explaining some of these concepts in a way that doens’nt feel/read like documentation, :gitcoin: commissioned a short video to cover this subject.

here is a *rough draft* of the video. what does everyone think?
https://youtu.be/HJPmm

[2018-01-23 22:44] owocki commented on #13
ive been thinking a lot about how we transition web2 users to web3. we get the questions “what is web3? what is ethereum and why do i need it?” a lot.

as a means of explaining some of these concepts in a way that doens’nt feel/read like documentation, :gitcoin: commissioned a short video to cover this subject.

here is a *rough draft* of the video. what does everyone think?
https://youtu.be/HJPmm

[2018-01-23 22:44] owocki commented on #14
ive been thinking a lot about how we transition web2 users to web3. we get the questions “what is web3? what is ethereum and why do i need it?” a lot.

as a means of explaining some of these concepts in a way that doens’nt feel/read like documentation, :gitcoin: commissioned a short video to cover this subject.

here is a *rough draft* of the video. what does everyone think?
https://youtu.be/HJPmm

[2018-01-25 10:10] uluhonolulu commented on #23
@owocki  Yes, that would be less confusing, because when I click the Explorer link, I expect it to show me all entries.

Also, I noticed that Firefox doesn't do this (show me the last search results).

[2018-01-31 11:50] axic opened #24 "Github access level for the Gitcoin app"
Sorry if I am ignorant and writing this at a the wrong place.

Why does the gitcoin Github App needs write permissions to user details?

[2018-01-31 16:22] owocki commented on #24
hey @mbeacom i thought we changed this to no longer need write access?

[2018-01-31 16:30] mbeacom commented on #24
@owocki Looks like our environment specific setting files are overriding the `GITHUB_SCOPE`.  Pushing an update now!

[2018-01-31 17:50] mbeacom commented on #24
@axic This has been resolved.  Please reload `https://gitcoin.co` and re-authenticate.
Thanks for the heads up!

[2018-01-31 17:50] #24 closed

[2018-01-31 22:11] axic commented on #24
Thank you, it works! :)

[2018-02-09 08:35] lazaridiscom opened #25 "void"

[2018-02-09 14:37] lazaridiscom opened #26 "void"

[2018-02-09 17:10] lazaridiscom commented on #26
Can someone send me the relevant amount so i can "Send Work" on the system?

0xcAB13E6D9a85296e332dBE0ACDfbB917Ae86f111

I tried a few exchanges, but what they ask is really too much.

[2018-02-09 17:29] lazaridiscom opened #27 "Provide "Prerequisites for Claiming/Finishing Work" document / link"
In order to avoid disappointed new users (see #26), the following steps should be taken:

* Provide a document, **written by a newcomer** to crypto-currency, which describes in a compact and clear manner the relevant knowledge and steps.

* When MetaMask is not installed, show a text like "Prerequisites for Submitting Work to collect bounties" with a link to the document.

* Really Really: provide

[2018-02-10 12:15] lazaridiscom opened #28 ""Are you still working on this?""
During work on trufflesuite/truffle-core/issues/87, gitconi.co send me twice an automated message,

one on day 3 and one on day 6:

[code]

This means that the system has not detected my comments in the issues, assuming my absence.

This would be a bug in the system.

[2018-02-10 16:34] lazaridiscom opened #29 "void"

[2018-02-11 20:59] owocki commented on #29
this is a good idea

[2018-02-11 22:40] lazaridiscom commented on #29
@owocki , I have several ideas (actually I could bombard you), but the problem is that things must be done in the right order. See for example this one: https://github.com/gitcoinco/web/issues/208#issuecomment-364654702

I have the feeling that I can help you with bringing "structure and order" to your many ideas and thoughts. I need this too, when I have too many ideas and stuff for own projects:

[2018-02-12 13:01] lazaridiscom commented on #29
@owocki , I notice the last days that github says this:

* "help wanted" can be used for bounties
* "help wanted" in combination with "good first issue" would be: give incentives to new folks.

[2018-02-12 19:51] owocki commented on #28
moving this over to the web repo at https://github.com/gitcoinco/web/issues/394

[2018-02-12 19:51] #28 closed

[2018-02-12 19:56] owocki commented on #25
"Make Metamask Optional" is not an option, given that the entire dapp is web3-enabled.

There are a few help articles ( https://gitcoin.co/help , https://github.com/gitcoinco/gitcoinco/issues/4 ) which cover this pretty explicitly.    Open to suggestions about how this can be messaged earlier / easier.

[2018-02-12 20:02] owocki commented on #26
This is good feedback for when Gitcoin moves its sights from targeting web3-fluent users to web2 users.

As one of the first live consumer-dapps, Gitcoin is in the vanguard of bringing blockchain-based dapps to the masses.  The entire ecosystem is moving from infrastructure stage to an early adopter stage right now.

One of the core differentiators that, from a marketing standpoint, we use **now**

[2018-02-12 20:03] owocki commented on #27
i think gitcoin.co/onboard is the closest to this that we have now

[2018-02-12 21:11] lazaridiscom commented on #25
Well, who reads help articles? Me not. I sometimes do not even read what the landing-page is screaming to me... a typical user!

So, I suggest:

* This frame top-left which shows info about MetaMask should clarify that its mandatory "You need MetaMask to work with gitcoin"

![image](https://user-images.githubusercontent.com/35095758/36119664-55b934e2-1049-11e8-9744-457a5ec4d7a7.png)

You can place

[2018-02-12 21:13] lazaridiscom commented on #27
That's too big, and hosted on gdocs (makes a strange impression). Something really tiny. if I need a break from code-level tonight, I'll give it a try.

[2018-02-12 21:24] lazaridiscom commented on #26
@owocki - No! No! And again: No!

This is good feedback for now(!). What you write is all fine. But see my frustration, and ask yourself:

How can we avoid that others get this frustrated?

The answer is given in: #25

As mentioned there, I'll try to provide you with some text.

But its you that has to revise the site a little bit.

Example sentence (so you get the idea):

"If you do not want to h

[2018-02-12 21:34] lazaridiscom commented on #29
This is even better, a 2nd label for tip announcements! But how does a visitor know that its about eth-tip?

[2018-02-13 03:55] vs77bb commented on #25
@pixelant What do you think? Seems like there's a way to word this to make it explicitly clear.

Perhaps "Please install Metamask, a necessary tool to interact with Gitcoin."

[2018-02-13 03:55] vs77bb commented on #25
Thanks for your feedback, @lazaridiscom

[2018-02-13 04:04] vs77bb commented on #26
@owocki Why does the user still need ETH to "Submit Work"? Now that we allow multiple submissions, malicious submissions is less of an issue, right? CC @mbeylin... it still seems suboptimal UX to me for a user to have to pay ETH before ever earning ETH on the platform.

@lazaridiscom If it helps... you should know we're building an Ether 'Faucet' tool, which basically provides you Ether to make yo

[2018-02-13 04:14] lazaridiscom commented on #26
@vs77bb , I am now much calmer. But imaging how you feel after some days deep debugging, hitting on one barrier after the other. I was not afraid of not getting the bounty. I just wanted to continue work, and was trapped with barriers and details.

If I had known all this in advance, then everything would be fine - even the $1 (or less) fees to submit work. The problem was not the $1, but to get t

[2018-02-13 15:19] owocki commented on #26
any mutation to the blockchain requires gas -- its just how ethereum works.   some references:
- https://github.com/gitcoinco/gitcoinco/issues/15
- https://github.com/gitcoinco/gitcoinco/issues/5

this reminds me -- we should source a dev to take that across the finish line.. it died when the original dev got too busy with work.  @vs77bb if you post in slack / twitter, i will follow on (and possib

[2018-02-13 15:45] lazaridiscom commented on #26
@owocki @vs77bb

This is my way of processing "over-information". It makes no sense to discuss, where action is required.

So, I let the Void take over here...

[2018-02-13 18:08] owocki commented on #26
i'm not entirely certain i understand; but perhaps we can talk on the livestream

[2018-02-13 19:41] lazaridiscom opened #30 "Provide a Solution to make MetaMask Optional"
within #26, it was stated that:

This should not be accepted as a fact.

A solution should be found, in order to make MetaMask optional for bounty claimers.

[2018-02-14 00:42] lazaridiscom commented on #27
This system is beta-software, which is designed for users which are familiar with crypto-currencies (cc. You can obtain the necessary knowledge quite fast:

There are different crypto-currencies out there, the most know is "bitcoin". Gitcoin sound like a currency, too - but its not!

Gitcoin.co uses Ether (of the Ethereum Project). In order to work with Ether, you need a Wallet. Once you are famil

[2018-02-14 14:18] lazaridiscom commented on #25
You can find an example text here:

https://github.com/gitcoinco/gitcoinco/issues/27#issuecomment-365456142

Please be aware that my ability to produce newcomer-able entry-level text will vanish soon. I currently refrain from diving deeper into the domain-knowledge (blockchain, ethereum), as I've not yet decided if I use ethereum for my personal projects.

And a follow-up (which should be totally

[2018-02-14 15:25] lazaridiscom opened #31 "C-level Bounties (Real Example: Post Mortem Analysis)"
Please review this one, to get an idea about a new category of tasks / bounties:

MetaMask/metamask-extension/issues/3247

Its a real use case. This issue was a bounty itself, But the most important thing would be what is done after.

[2018-02-14 15:35] owocki commented on #31
I'm a big fan of the 'five whys' type analysis and in general 'fix it twice' mantra.  its fun to see that done in a new format / in a distributed way

[2018-02-14 17:38] lazaridiscom commented on #31
Seems we agree here (although I've follow usually a "free-dynamic" process, mainly oriented towards "barriers", but ok, that's another topic).

As for gitcoin, the **actions** could be:

- => Specify high-experience (senior/chief/director grade) task categories (e.g.: "C-level")
- => Provide a text to inform funders about the importance of such tasks/bounties

The (broader scope) thing is:

If ope

[2018-02-14 20:27] owocki opened #32 "list of other bounty projects"
https://alpha.bounty0x.io/bounty/4
https://alpha.fundrequest.io/
https://www.bountysource.com/
Git Token
https://internetbugbounty.org/
https://hn.algolia.com/?query=bounty%20github.com&sort=byDate&prefix&page=0&dateRange=all&type=story
https://github.com/JGcarv/ethereum-bounty-hunters
https://bounty.github.com/
https://github.com/djadmin/awesome-bug-bounty#available-programs
https://github.com/JG

[2018-02-14 20:28] owocki commented on #32
http://bits.owocki.com/3L3v1F0q1Q0E/Screen%20Shot%202018-01-08%20at%202.31.00%20PM.png

http://join.utopian.io/

[2018-02-14 20:28] owocki commented on #32
Status Open bounty

[2018-02-14 23:14] owocki opened #33 "schwag shop"
kind of like https://cellarius.myshopify.com/  but for gitcoin

[2018-02-14 23:27] owocki opened #34 "should we have an instagram account?"
it seems like its where all the millenials are ;)

[2018-02-15 22:48] vs77bb opened #35 "Test"

[2018-02-15 22:52] vs77bb opened #36 "Test"

[2018-02-15 22:57] vs77bb opened #37 "Test"

[2018-02-18 05:58] lazaridiscom commented on #27
Followup #25

[2018-02-18 05:58] #27 closed

[2018-02-18 05:58] lazaridiscom commented on #25
**Example Text:**

This system is beta-software, which is designed for users which are familiar with crypto-currencies. You can obtain the necessary knowledge quite fast:

There are different crypto-currencies out there, the most know is "bitcoin". Gitcoin sounds like a currency, too - but its not!

Gitcoin.co uses Ether (of the Ethereum Project). In order to work with Ether, you need a Wallet. On

[2018-02-20 04:46] #26 closed

[2018-02-24 08:39] #31 closed

[2018-02-24 08:40] #30 closed

[2018-02-24 08:43] #25 closed

[2018-02-24 08:44] #29 closed

[2018-02-27 22:37] #37 closed

[2018-02-27 22:37] #36 closed

[2018-02-27 22:37] #35 closed

[2018-02-27 22:38] owocki opened #38 "I'm just learning blockchain where should I start?"
Learn to Code Ethereum DApps By Building Your Own Game - https://cryptozombies.io/
Learn to Code Ethereum Dapps by working on Bounties - https://gitcoin.co

[2018-02-27 23:12] jschiarizzi commented on #38
http://truffleframework.com/tutorials/pet-shop is very good too, that's where I started.

I would keep this list as short as possible while still getting all the topics. I think one of the things that makes starting scary is the massive volume of "what is blockchain" resources that are wide and shallow.

[2018-02-27 23:39] tcoulter commented on #38
http://truffleframework.com/boxes --> Boilerplates for different styles of Ethereum-enabled applications built using Truffle.

[2018-02-28 22:17] razordaze commented on #38
Per [Jack's comment](https://gitcoincommunity.slack.com/archives/C7A4F4UHK/p1519799505000275?thread_ts=1519754322.000487&cid=C7A4F4UHK):

https://github.com/bitcoinbook/bitcoinbook
https://github.com/ethereumbook/ethereumbook

[2018-03-02 19:36] owocki commented on #38
this is a good list (it could probalby consume this github issue too https://github.com/djphillyg/awesome-ethereum )

[2018-03-23 04:15] UnrealCity opened #39 "Problem with submitted Faucet request"
I submitted a Faucet request but was not able to add my ETH address. What can I do to submit my address?

[2018-03-23 13:20] mbeacom commented on #39
@UnrealCity Sorry to hear about your troubles!

Which browser? Were you actively logged into MetaMask on the browser being used?

[2018-03-23 13:28] UnrealCity commented on #39
Yes, I was logged into MetaMask. I just added the extension yesterday.

On Fri, Mar 23, 2018 at 7:20 AM Mark Beacom <notifications@github.com>
wrote:

[2018-03-23 13:37] UnrealCity commented on #39
It appears the ETH has been deposited to my MetaMask.  So MetaMask has it's
own ETH address. I guess that's the part I didn't understand. I assumed I
needed to input ETH address for my Ethereum wallet.

On 23 March 2018 at 07:20, Mark Beacom <notifications@github.com> wrote:

[2018-03-23 13:58] owocki commented on #39
Yup!  We may need to adjust the FTUX here to do a little better job explaining metamask :)

[2018-03-23 14:01] UnrealCity commented on #39
Thanks for the quick response. I think I understand how it works now.

On Fri, Mar 23, 2018 at 7:58 AM Kevin Owocki <notifications@github.com>
wrote:

[2018-03-23 14:04] mbeacom commented on #39
@UnrealCity Thanks for reaching out! Let us know if you have any further questions or recommendations!

Feel free to join us on slack:  https://gitcoin.co/slack

[2018-03-23 14:04] #39 closed

[2018-03-24 19:08] filips123 commented on #5
@owocki Can you please send me a little ETH for submiting work on GitCoin? Thank You!
address: 0xe12aa5fb5659bb0db3f488e29701fe303bcbaf65

[2018-03-31 00:14] pascalvanhecke opened #40 "Feature request: ability to top up bounties"
There seems to be no way to add more ETH to an existing bounty

(screenshot indicating where I would have expected a visual cue on how to top up the bounty).

![create visually customizable keyring format metamask funded issue detail gitcoin gitcoin 2018-03-31 02-13-00](https://user-images.githubusercontent.com/290665/38157664-3d210d38-3489-11e8-8464-25941cbb7d66.png)

[2018-04-02 17:34] owocki commented on #40
if you are the submitter of an issue, you will see this button for topping up an issue:

[screenshot](http://bits.owocki.com/1a09191e421s/Screen%20Shot%202018-04-02%20at%2011.34.16%20AM.png)

@pascalvanhecke do you see this button on your issues that you create?

[2018-04-02 19:54] owocki commented on #40
IIRC, this is not possible in the current version of standardbounties becasue this method ( https://github.com/Bounties-Network/StandardBounties/blob/master/contracts/StandardBounties.sol#L477 ) can only be called by the funder.

cc @mbeylin in case he can think of any workarounds, or perhaps as feedback for him as he scopes v2 of standardbounties

[2018-04-10 23:05] owocki opened #41 "Make Metamask Optional"
within #26, it was stated that:

"Make Metamask Optional" is not an option

This should not be accepted as a fact.

A solution should be found, in order to make MetaMask optional for bounty claimers.

[2018-04-10 23:05] owocki commented on #41
this is a dupe of https://github.com/gitcoinco/gitcoinco/issues/25 since the original contributor ragequit.

[2018-04-10 23:06] owocki commented on #25
https://portis.io/ might be an option to help make this happen

[2018-04-10 23:06] owocki commented on #41
https://portis.io/ might be an option to help make this happen

[2018-04-11 00:54] KamesCG commented on #25
That's an interesting service. So essentially they manage the private keys of the user and you can access it with a email/password combo.

FAQ says you still have to fund their wallets to cover gas transaction costs, so at some point there is manual work for Gitcoin though? Once mainnet faucet request has been approved?

Also they seem a little hand-wavey, probably they want to keep it simple, but

[2018-04-11 17:19] owocki commented on #25
demo portis app => https://attendr.io/ (try incognito w/o metamask)

the former

thanks for the architecture diagram.  i agree this would be great to figure out.  [metamascara](https://github.com/MetaMask/mascara) might be an option here too

[2018-04-11 18:55] owocki commented on #32
https://bounty.ethereum.org/

[2018-04-12 13:55] owocki commented on #32
sourcecred

[2018-04-12 13:56] owocki commented on #32
https://docs.google.com/document/d/1aCbbCGz7L0KOJoDGcnHu0L66TUzdqtVT__pgztGfc94/edit

[2018-04-26 08:02] TimVanMourik commented on #9
@owocki , @vs77bb , @PixelantDesign
[ At the risk of being off-topic ]
 One addition that I would really appreciate as a user is that the possibility to add a message when you press "Start working". I believe enforcing spec work could introduce more complications than it solves, but I think a nudge towards writing a message would improve communication and therefore clarity. It could reduce problem

[2018-04-26 13:56] owocki commented on #9
thanks for the feeedback tim.  that is something were working on here! https://github.com/gitcoinco/web/pull/981

[2018-04-26 14:28] TimVanMourik commented on #9
Nice, hadn't seen that one yet! Hard to keep track of all developments on the platform!

[2018-05-29 00:30] Graal46 commented on #1
0xe7BbC8Fea57A92fC307D650D78e5481B25ccedff

[2018-06-04 19:22] owocki opened #42 "(Contest) Celebrate the launch of Gitcoin's Project Types with this GIF contest!"
Celebrate the launch of [Gitcoin Project types](https://medium.com/@vivek.m.singh/965a02603559) with this fun bounty.

best gif that covers one of the following

* EOS launch
* MSFT acquiring github
* anything else current in blockchain

wins the ETH

[2018-06-04 19:27] owocki opened #43 "(cooperative bounty) Gitcoin / Github UI Photoshop Battle"
# Photoshop Battle

Celebrate the launch of [Gitcoin Project types](https://medium.com/@vivek.m.singh/965a02603559) with this fun bounty.

## Rules

1. Take the latest image posted.
2. Add something fun to it
3. Post it again

## Ideas

1. Add sad keanu to the image
2. Add vitalik to the image
3. Add some commentary to the Github announcement

## Constraints

* No pornography
* Nothing overly offe

[2018-06-04 20:09] owocki commented on #43
my submission

![40937154-ed74f5a6-67fa-11e8-8998-9b34223c6ee0](https://user-images.githubusercontent.com/513929/40939093-ea4122f0-6800-11e8-9218-c6996b056173.gif)

[2018-06-04 21:52] nemaniarjun commented on #43
Can we submit badly photoshoped images? XD

[2018-06-04 22:08] owocki commented on #43
@nemaniarjun yes!  thats the idea!

[2018-06-05 03:40] zekenewsom commented on #43
![gitcoinvitalik](https://user-images.githubusercontent.com/22898172/40954034-9d90e684-6850-11e8-93d8-ebecfe2c1b61.jpg)

[2018-06-05 04:37] PixelantDesign commented on #43
<img width="1439" alt="gitcoin_tennis" src="https://user-images.githubusercontent.com/238235/40955523-915acb2a-6858-11e8-9741-6203ac52e69a.png">

[2018-06-05 05:40] justpixel commented on #43
![gitcoin-xp](https://user-images.githubusercontent.com/7627020/40957080-17f654d6-689c-11e8-9988-e2a99920c2ee.png)

[2018-06-05 05:56] nemaniarjun commented on #43
![your code 1](https://user-images.githubusercontent.com/15715894/40957556-51eb6066-68b3-11e8-93d2-51a5c2ab509c.png)

[2018-06-05 07:54] justpixel commented on #42
![ezgif-2-14518719d7](https://user-images.githubusercontent.com/7627020/40962662-cfced10c-68ae-11e8-9dd2-77542921f882.gif)

[2018-06-05 10:59] PixelantDesign commented on #43
PC?

[2018-06-05 11:15] mkosowsk commented on #43
Looks like they're running Github XP, think they may want to upgrade to Github Vista 🤔

Great work guys, these are amazing!!!!! 😍

[2018-06-05 13:25] PixelantDesign commented on #43
![gc_tennis2](https://user-images.githubusercontent.com/238235/40978903-57bd51c2-68a2-11e8-8720-86b1c60f3cc7.png)

[2018-06-05 13:34] SaptakS commented on #43
@mkosowsk nothing can beat Github 2000

[2018-06-05 14:50] willsputra commented on #43
wow

![whatisthis](https://user-images.githubusercontent.com/19514207/40983586-93360a76-6912-11e8-8c8d-29488aec85e2.jpg)

[2018-06-05 15:03] owocki commented on #43
clippy!  i remember clippy and ballmer!

[2018-06-05 15:20] ligi commented on #43
![gitcoin_montage_mod](https://user-images.githubusercontent.com/111600/40985584-bc33466a-68e4-11e8-8189-a21c1d53f2b9.jpg)

[2018-06-05 16:37] owocki commented on #43
@ligi i love it

[2018-06-05 16:38] nemaniarjun commented on #43
![your code 2](https://user-images.githubusercontent.com/15715894/40989919-e7efd19c-690c-11e8-8c22-33908b089187.png)
Oh I used canva.com :stuck_out_tongue:

[2018-06-05 16:45] nemaniarjun commented on #43
git commit -am "Added Party Hats ;)"
![your code 3](https://user-images.githubusercontent.com/15715894/40990245-d57c578c-690d-11e8-8dd7-9d154f1fb134.png)

[2018-06-05 18:58] bockp commented on #42
(I don't actually think it's such a bad thing that microsoft acquired/acquires github, but these GIF's play on the public sentiment that it's THE END and cataclysmic ;) ):

<center>Stare into the Abyss !/center>
![githubproblems](https://user-images.githubusercontent.com/10536344/40991692-dd006048-68f4-11e8-8671-4a098c488d25.gif)

<center>Stare into Github, and Microsoft stares ba... Oh look, it's

[2018-06-05 19:02] bockp commented on #42
This is actually a pretty good first foray into using the Gitcoin system XD

Do tell me if I get the order of operations (start, submit, stop...) wrong or do it too soon :)

[2018-06-05 19:36] 409H commented on #43
![enlight13](https://user-images.githubusercontent.com/2313704/40998554-197f8b42-6900-11e8-917d-a7ef71cc3f57.JPG)

[2018-06-05 19:37] owocki commented on #42
@bockp you did great (both on submitting work and on the gif!)

@justpixel i love it!

[2018-06-05 20:39] owocki commented on #43
@409H excellent use of clippy!

@nemaniarjun nice hats!

[2018-06-06 07:29] ernaneluis commented on #43
<img width="1257" alt="screen shot 2018-06-06 at 16 29 24" src="https://user-images.githubusercontent.com/1398769/41023243-d3d637e2-69a6-11e8-964f-90a21f11a145.png">
fit vitalik

[2018-06-06 13:12] gcamerli commented on #42
![nyan_octocat](https://user-images.githubusercontent.com/9459291/41040046-92bae3f8-699b-11e8-8f3e-6430b16a54f1.gif)

[2018-06-07 00:41] darkdarkdragon commented on #38
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.15 ETH (103.82 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/gitcoinco/38/523).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/sl

[2018-06-07 00:41] darkdarkdragon commented on #33
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.15 ETH (103.82 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/gitcoinco/33/524).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='

[2018-06-07 13:14] dustindreifuerst commented on #42
![2ef8f18fe9d034cfa1a2a4a0e9c90ee8](https://user-images.githubusercontent.com/38194696/41101781-c4f8fadc-6a2a-11e8-9cf1-68f5f19468f2.gif)

[2018-06-07 13:18] dustindreifuerst commented on #42
EOS launch.....
![giphy](https://user-images.githubusercontent.com/38194696/41102012-644ba7e2-6a2b-11e8-8c75-363788022f4f.gif)

[2018-06-07 13:22] KamesCG commented on #33
but with #buidl hats!

[2018-06-07 14:41] akimc commented on #42
All sane devs jumping ship to Gitlab after MSFT buying github x)
![Alt Text](https://media.giphy.com/media/QX7cJ6tnVFgNW/giphy.gif)

[2018-06-07 16:55] gabriellemic commented on #43
![gitcoin_uiphoto](https://user-images.githubusercontent.com/5787687/41114244-24621ba8-6a84-11e8-96dc-6d3991b18480.png)

mythical bounty

[2018-06-07 18:15] owocki commented on #43
@ernaneluis fit vitalik is a nice touch :)

@gabriellemic i love it.. its perfect

[2018-06-07 18:56] vinny2020 commented on #38
It seems like https://trufflesuite.com
is now:
http://truffleframework.com ?

[2018-06-08 15:52] owocki commented on #9
talked to one of my mentors about this today.  esp in the vein of contests (cc @vs77bb )

they said spec work has 4 criteria:
* Professional (1)
* Completed (2)
* Slight chance (3) of non noteworthy payment (4) Noteworthy— about size of the check

[2018-06-08 17:06] owocki commented on #43
sorry.. snoozing gitcoin bot on this issue and long term fix is here => https://github.com/gitcoinco/web/issues/1409

[2018-06-10 03:14] fenxxx commented on #42
castle of sorrow)
![houses-of-parliament-sunset-02](https://user-images.githubusercontent.com/36523475/41197963-6fd6b010-6c75-11e8-8e4f-d20618d3994a.gif)

[2018-06-10 18:07] fenxxx commented on #42
Work for ..... has been submitted by:

@bockp
@justpixel
@fenxxx
@fenxxx
@fenxxx
hmm..) how did this happen?)

[2018-06-11 02:17] owocki commented on #42
hehe i love the castle of sorrow!

[2018-06-11 02:17] owocki commented on #42
@fenxxx did you submit 3 tx by any chance?

[2018-06-11 05:07] NukeManDan commented on #42
![recording](https://user-images.githubusercontent.com/35669742/41213492-f1573c26-6d02-11e8-9f69-9b0a20f6c3a0.gif)

https://raw.githubusercontent.com/martenbjork/github-xp/master/recording.gif

[2018-06-11 14:27] fenxxx commented on #42
@owocki yep. it may be)

[2018-06-12 13:05] owocki commented on #42
Hey all,

We are still working on getting the bulk payout form ( https://github.com/gitcoinco/web/issues/1422 )  built into the UI, so I'll pay yall via ETH directly.  Pls fill out this form => https://goo.gl/forms/pCDHJBgQrUM4YX6n2

[2018-06-12 13:05] owocki commented on #43
Hey all,

We are still working on getting the bulk payout form ( https://github.com/gitcoinco/web/issues/1422 )  built into the UI, so I'll pay yall via ETH directly.  Pls fill out this form => https://goo.gl/forms/pCDHJBgQrUM4YX6n2

[2018-06-12 13:05] #43 closed

[2018-06-12 13:05] #42 closed

[2018-06-15 15:14] owocki commented on #38
Another good list https://github.com/ConsenSysLabs/ethereum-developer-tools-list

[2018-06-17 13:58] ninjasun opened #44 "Logout does not work in the /settings"
Found the issue also in:
/settings/matching
/settings/account
/settings/email

or sometimes it show the login button in the header bar, but for the system, the user can still navigate the settings pages -
![bugs_logout_in_settings_not_working](https://user-images.githubusercontent.com/7422984/41508522-844c3598-7246-11e8-943f-f411ec6dc777.png)
and edit them apparently-

[2018-06-17 14:07] ninjasun opened #45 "issue funded does not appear in my profile"
Scenario:
- I funded an issue
- I started to work on two issue

I can see the issue in the explorer but I can't see it in my profile where I can see the 2 issue I started.
If I try to self-assign the issue I funded all got messed up.
![issue_details_for_the_issue_created_notice_the_img_in_the_funder_card](https://user-images.githubusercontent.com/7422984/41508653-74a91e6a-7248-11e8-8d3c-1fd0498589

[2018-06-18 04:43] thelostone-mc commented on #44
Only if the user is logged in can they navigate to the between the tabs!
Else they'd be prompted a signin to github

![x1](https://user-images.githubusercontent.com/5358146/41518388-cedcd894-72df-11e8-80ba-3ce7d5b1f51b.gif)

It works for email cause it's a generic unsubscribe list!
@owocki should we make that visible only upon authentication (like the rest of the tabs) ?

PS: @ninjasun any new iss

[2018-06-18 05:02] thelostone-mc commented on #45
I'm not able to recreate this on local !
My steps:
- navigate to a bounty
- start work (on rinkeyby network cause it's local)
- give start reason and submit
- visit the profile and it's there

<img width="1440" alt="screen shot 2018-06-18 at 10 30 09 am" src="https://user-images.githubusercontent.com/5358146/41518922-a3864ba0-72e2-11e8-9ea1-94747cf21c47.png">

Issue shows up on the profile:

<img

[2018-06-18 05:03] #45 closed

[2018-06-18 13:57] ligi opened #46 "tip-claim-flow: Waiting for tx to be mined forever though it is mined"
I just wanted to claim a tip and got this screen:

![selection_078](https://user-images.githubusercontent.com/111600/41540232-f65688f4-730f-11e8-8a3d-6bc21c5c3306.png)

It stays for a long time (would guess it will stay forever) - but the tx the screen is waiting for is already mined on chain (following the transaction link there)

[2018-06-18 13:59] ligi commented on #43
Unfortunately I am having trouble claiming this tip ( #46 )  - did it work for the others? That also means we do not have to fill out the form anymore - correct?

[2018-06-18 14:07] ligi opened #47 "language preference pull from github"
I just tried the "pull from github" feature - for me it returns Java,HTML:

![selection_080](https://user-images.githubusercontent.com/111600/41540888-6bef0c16-7311-11e8-8b94-a76909597a37.png)

But I currently write exclusively Kotlin (since >1 Year) - that also explains a bit why the suggestions I got via mail did not really make sense to me so far.

Wonder what API you are using to pull the data

[2018-06-18 14:14] zekenewsom commented on #43
I’m having the same trouble in that I can’t find where to claim the tip.

[2018-06-18 14:18] ligi commented on #43
I found the entry point for this:

![selection_081](https://user-images.githubusercontent.com/111600/41541663-45b708b2-7313-11e8-85b3-ef54ac1d920b.png)

but after clicking there I get #46

[2018-06-18 21:52] owocki commented on #46
can you confirm you've got metamask installed and that the metamask network is the mainnet?

[2018-06-18 21:53] owocki commented on #47
it *should* just pull your repos and look at what language github has classified them as https://github.com/ligi?tab=repositories

to your point, yes it should return `Kotlin`

[2018-06-18 21:58] ligi commented on #46
No - I cannot confirm - could claim now by doing so. But I think this dialog should tell me to do so - was not aware that these conditions must be met. Especially it giving me a link to a mined tx and telling me we are waiting for this currently ;-)

[2018-06-18 22:00] owocki commented on #43
responded on #46

[2018-06-18 23:57] zekenewsom commented on #43
​I don't even have claim tip as an option.

On Mon, Jun 18, 2018 at 10:14 AM, Zeke Newsom <zekenewsom@gmail.com> wrote:

[2018-06-19 11:43] thelostone-mc commented on #46
@PixelantDesign  ^

[2018-06-19 11:46] thelostone-mc commented on #43
@zekenewsom that option only turns up if you have an unclaimed tip!
Either :
- You already claimed your tip
- The tip never got through to you (which === bug)
Did you get a email from Gitcoin with the claim tip link ?

[2018-06-19 13:50] owocki commented on #43
i see a tip for you in the system as @zekenewsom -- you should see it in the top right if you login with that github account.  if you can't find the link, email me (kevin@gitcoin.co) or slack me (gitcoin.co/slack) and ill send you it

[2018-06-19 15:06] nemaniarjun commented on #43
I filled the form, but I don't think a tip was processed for me.

[2018-06-19 20:50] ligi opened #48 "States "please review questions" - but there are no questions"

[2018-06-19 20:52] owocki commented on #48
sorry, whats this in reference to?

[2018-06-19 20:53] ligi commented on #48
pressed enter to early - wanted to upload this:

![selection_084](https://user-images.githubusercontent.com/111600/41623528-56ea647a-7413-11e8-9ea4-2ca03d59af8e.png)

[2018-06-19 20:54] owocki commented on #48
thanks

[2018-06-19 20:54] owocki commented on #48
moved over to the web repo at https://github.com/gitcoinco/web/issues/1509

[2018-06-19 20:54] #48 closed

[2018-07-01 01:52] owocki commented on #43
@ nemaniarjun sorry for the slow response.. just re-remitted

[2018-07-03 20:36] owocki commented on #46
tracking at https://github.com/gitcoinco/web/issues/1606

[2018-07-06 23:33] owocki opened #49 "this is a test issue for the purposes of a demo"
this is a test issue for the purposes of a demo

[2018-07-07 05:11] PixelantDesign commented on #10
@mbeacom ok to close?

[2018-07-07 21:50] PixelantDesign commented on #46
@thelostone-mc The updated metamask connection banner should help here.

Thanks for reporting @ligi, the message does need to be updated.

[2018-07-09 14:28] mbeacom commented on #10
@PixelantDesign I think this issue is meant to be a helpful reference versus a bug/feature request.  @owocki ?

[2018-07-09 17:37] owocki commented on #10
this is meant to be a helpdesk article. not an active issue we are tracking to close

[2018-07-09 22:54] PixelantDesign commented on #10
Gotya. What do you all think about consolidating into how to docs? Could be part of developer and funder guides that we will be taking out of google docs and putting on the site.

[2018-07-10 23:29] PixelantDesign commented on #10
Yep we did the same at my previous place. It was just Wordpress though.

[2018-07-19 15:07] owocki opened #50 "FAQ: Why isn't my Ethereum tx clearing?"

[2018-07-20 04:02] vs77bb commented on #50
My question - why this is the case? It seems like clearly bad UX to force someone to worry about prior tx's in order to clear a newer one, but probably has some obvious security reasons for being the case. My guess is that this prevents double-spend attacks where one tries to send money twice, but I'm not sure 🤔

[2018-07-20 17:30] owocki opened #51 "Web3Design Bounty -- Post your favorite web3 gif"
This is a bounty for demo purposes for the [web3 design community call](https://twitter.com/Mitch_Kosowski/status/1020257787111182336).

The task is to post your favorite web3 gif.  The gif with the most upvotes in the form of github emoji reactions of 🎉 or ❤️  will be paid 75% of the bounty.

We will also reward the 2nd place gif with 25% of the bounty.

[2018-07-20 18:10] mkosowsk commented on #51
Demo going really well, @owocki! Keep it going 👍👍👍

[2018-07-26 00:23] owocki commented on #40
@pascalvanhecke this is live now https://medium.com/gitcoin/crowdfunding-bounties-fd821b04309d

[2018-07-26 00:23] #40 closed

[2018-08-27 13:18] hleb-albau opened #52 "Wrong payout behavior"
Hi, my flow was:
1. For issue https://github.com/cybercongress/cyber-search/issues/185 I created bounty.
2. @KevinLiLu completed issue.
3. To not  wait for Kevin submission, I selected advanced payout, filled fields with next values:
![image](https://user-images.githubusercontent.com/2991991/44661507-8b1f8780-aa13-11e8-82e0-c3d685b38270.png)
4. Gitcoin canceled issue, and send funds to unknown add

[2018-08-27 16:15] owocki commented on #52
Hi @hleb-albau is this a new issue, or the one that i helped you with a week or two ago?  By the txid, it looks like its a new issue, right?

Could you let me know what browser / version you are using?

This is by design. For more information on how tips works, go to https://github.com/gitcoinco/web#of-a-tip

@KevinLiLu if you login to gitcoin and look for 'claim tip' in the nav, you can claim you

[2018-08-27 16:42] KevinLiLu commented on #52
@hleb-albau I just claimed the tip and the transaction is pending https://etherscan.io/tx/0xd5217d43b2b38bdf2d1fac76969bd369361e35284eca1112ebf78a3cf7eb5346.

I will send the tip back to you so we can accept and complete the bounty for a better history. Which address should I send the funds to?

[2018-08-28 09:53] hleb-albau commented on #52
@KevinLiLu **0x00725D89a2A2FB3B21Fd1035B579cbCDE4a0991b**.
@owocki Thanks for explanation. Also, such behavior not oblivious from advanced payout page ;( May be add some tip on the page?

[2018-08-28 15:59] KevinLiLu commented on #52
@hleb-albau  Sent https://etherscan.io/tx/0xad018bd45692c2e9a112f1cb6c492ff8c5d8a86b8aeee08dd10e9131cf593402

[2018-08-30 10:37] #52 closed

[2018-08-31 08:44] pmaojo opened #53 "Spanish version missing some translations."
Hi. There are some not translated strings to Spanish on some views, and shared elements.
It's a usability and SEO issue and I'm sure that solving it would increase conversions. Also some translations are not using the correct term. I could fix this.

[2018-08-31 08:48] thelostone-mc commented on #53
@pmaojo Yes please go ahead and raise a PR ^_^

Example:
- https://github.com/gitcoinco/web/pull/1916

[2018-08-31 09:05] pmaojo commented on #53
I found the .po file with the mistakes :)
Just courious, I'm new on the gitcoin platform. How could this become a paid task?

[2018-08-31 09:08] thelostone-mc commented on #53
We'd tip you out via http://gitcoin.co/tip once your PR gets merged ^_^

[2018-08-31 21:51] owocki commented on #53
@mbeacom @thelostone-mc do we need to re-run the autotranslate to generate new translations every time we add new copy to the site?  if so, should we automate it in some way?

[2018-09-01 10:59] pmaojo commented on #53
I'm editing .po files. Once they are ready and installed (if, as you mention there is a manual compilation step) we should investigate why some existing strings are not being displayed

[2018-09-02 08:25] pmaojo opened #54 "Unreadable dark text over dark background"

[2018-09-02 08:29] pmaojo commented on #54
Home footer. Screen capture later

[2018-09-02 11:41] thelostone-mc commented on #54
@pmaojo mind opening the issues for our web project over at https://github.com/gitcoinco/web ?
Would be easier to track and that's usually where the whole community is active ^_^

PS : Could you throw in a screenshot too to give a bit more clarity on the issue ?

[2018-09-02 16:16] #54 closed

[2018-09-03 23:05] owocki opened #55 "auto-generate new translation strings every night"
From the [docs](https://docs.djangoproject.com/en/2.1/topics/i18n/translation/)

(hat tip @thelostone-mc for the above info)

ANytime we add new trans tags to the db, we need to re-run auto translate.  Per haps we can automate this and have the server that runs it auto-commit back to create a PR or commit to the master branch?

[2018-09-03 23:05] owocki commented on #55
@mbeacom maybe this is a job for a jenkins server... or a build server or some sort?

[2018-09-04 13:19] mbeacom commented on #53
Ideally, `makemessages` should be ran anytime a copy update is made to anything wrapped with gettext in html, js, or py.  We could automate this to have a bot commit/PR it back to `master`, but I originally didn't introduce additional complexity for this previously because bot changes to the repo could introduce weird mishaps.  Automated PRing could be a viable option.  In the meantime, I've updat

[2018-09-06 13:49] chrishobcroft opened #56 "Can't fund a bounty with >1 Token"
I am trying to add BRLN coin to a Bounty that I originally funded using LPT

But it won't let me :(

[2018-09-06 20:20] PixelantDesign commented on #56
@chrishobcroft could you link the bounty?

[2018-09-06 20:26] thelostone-mc commented on #56
@chrishobcroft is this the [bounty](https://gitcoin.co/issue/livepeer/livepeerjs/205/1109)?

Also i'm not sure if we have BRLN token enabled on gitcoin yet!
If it's not -> you'll have to register the token [here](https://gitcoin.co/submittoken)

[2018-09-06 20:29] mbeacom commented on #56
@chrishobcroft We in fact don't have `BRLN` on the approved tokens list, so it doesn't appear in: https://gitcoin.co/dynamic/js/tokens_dynamic.js

If you submit the token as @thelostone-mc has suggested, once it's added, things *should* work fine.

[2018-09-07 04:09] owocki commented on #56
users can crowdfund in *any token* because thats built with gitcoin's tipping architecture

but they can’t increase the bounty size *with any token* due to some quirks in how standard bounties 1.0 works

workaround is to advise ppl who want to add new tokens to their bounty, to switch to a new metamask address and use crowdfunding functionality (after their token has been added / aproved at https:

[2018-09-13 22:30] chrishobcroft commented on #56
So wait, just so I am clear... is it possible for the following:

- Bob creates gitcoin bounty with Livepeer Tokens

- Alice adds to the gitcoin bounty with BRLN Coin

?

[2018-09-13 22:47] owocki commented on #56
yes thats correct!

[2018-09-26 18:00] jschiarizzi commented on #38
Can we add chainshot https://www.chainshot.com/dashboard

[2018-10-03 22:36] owocki commented on #38
added

[2018-11-05 22:09] owocki commented on #5
this is quote neat
![how-does-gas-work-ethereum-infographic-decenter](https://user-images.githubusercontent.com/513929/48029935-bfe34580-e10c-11e8-8e4c-98165507a451.png)

from https://blog.decenter.com/2018/11/05/how-does-gas-work-infographic/

[2019-01-15 06:04] ajayns opened #57 "Tip not recieved from Gitcoinco"
I had a 30DAI tip which I have supposedly received on gitcoin.co site, but I find no info about it on my metamask wallet or etherscan.

![screenshot from 2019-01-15 11-33-16](https://user-images.githubusercontent.com/20743219/51161688-7310ad80-18b9-11e9-9230-4202effe5bc4.png)
![screenshot from 2019-01-15 11-33-39](https://user-images.githubusercontent.com/20743219/51161690-73a94400-18b9-11e9-9453-

[2019-01-15 08:16] ajayns commented on #57
It was the usual time taken for a transaction. Closing issue

[2019-01-15 08:16] #57 closed

[2019-04-20 21:26] snailking opened #58 "Grant hidden from search"
I received a grant for my game Eggforce from the POA Games Fund last month: https://gitcoin.co/grants/92/eggforce-new-idle-game-on-poa-core-2

However, unless you have the direct URL, it seems hidden from search. Instead, a search for "Eggforce" redirects to this page: https://gitcoin.co/grants/90/eggforce

Which is possibly an earlier grant siddigzeidan initiated, before moving to the newest one.

[2019-04-20 22:05] snailking commented on #58
I'm also left wondering: will this exclude the grant from CLR matching?

[2019-04-22 13:20] owocki commented on #58
resolved via email :)

[2019-04-22 13:20] #58 closed

[2019-05-20 21:10] awzelene opened #59 "the gate open"
to process in technologie of the gate proced to know this stratige
go: 1=n
n=1+

[2019-05-20 21:55] #59 closed

[2019-06-16 23:11] davidkaufman opened #61 "correct link to jobs page"
The link to the jobs page (next to "we're hiring!" in the README") was broken

Here's a PR to fix: https://github.com/gitcoinco/gitcoinco/pull/60

[2019-09-19 12:24] sebastiantf opened #62 "Funds transferred, but not to preferred payout address"
I had submitted a work and I was paid for it.

But the funds were not transferred to the preferred payout address I had set in my Gitcoin profile. It was transferred to the MetaMask address that was locked at the time of transfer.

But I received a Kudos Token to the preferred payout address itself.

[2019-09-19 12:58] owocki commented on #62
for bounties; your payment will be sent to the address that submitted work with..

i wonder how we can make that clear in the UX

[2019-09-19 14:42] sebastiantf commented on #62
The email I received regarding Funds Paid specifies that the payments will be auto-sent to the preferred payout address. This is greatly misleading:

<img width="1048" alt="Screenshot 2019-09-19 at 8 21 11 PM" src="https://user-images.githubusercontent.com/36922376/65255169-1128d780-db1b-11e9-8f80-bde87a27f3ad.png">

I would suggest changing the email template first.

Another suggestion is to prov

[2019-09-19 21:30] owocki commented on #62
thanks; feedback is a gift!

commit 1e1238c24d9dbdabcc16975e30a379c1710f9a75 fixes this on the email form and also on the fulfillment page
screenshot: http://bits.owocki.com/b742644cb883

[2019-09-20 06:23] sebastiantf commented on #62
Great! Hope this could clear up the confusion.

[2019-09-30 16:37] sebastiantf opened #63 "Dropped and Replaced transaction is still 'processing'"
I had submitted a work, at first with a lower gas fee. I resubmitted the txn with a higher gas fee and it was confirmed within some time. But the transaction still isn't update on the issue page.

It still says 'Transaction Processing' when I try to go to the issue page on Gitcoin.

https://gitcoin.co/issue/nuo-admin/frontend/1/3521

<img width="1438" alt="Screenshot 2019-09-30 at 10 05 07 PM" src

[2019-09-30 17:46] owocki commented on #63
we still need to add proper hadnling for this. send me a link to the txid and the grant you contributed to pls and ill manually make sure it looks ok

[2019-09-30 17:59] sebastiantf commented on #63
The page seems to be updated now and doesn't show that it's still processing. I can access the issue page and it says that I've submitted the work.

It looks good now. Should I close the issue?

[2019-09-30 18:39] owocki commented on #63
sure; sounds good.  thanks!

[2019-11-08 11:28] joramowuor opened #64 "viral##$^^))77%33chica{_".>"
get new account.

[2019-11-08 17:19] #64 closed

[2019-11-13 14:53] joramowuor opened #65 "pr1098 ready for review ,submit work for bountie joram owuor"

[2019-11-14 11:21] joramowuor commented on #65
json sppress pr after deleting commit af4d0f1

[2019-11-17 03:18] Robbiesmo commented on #47
https://github.com/ligi?tab=repositories

[2019-11-18 03:09] Robbiesmo commented on #47
https://github.com/gitcoinco/gitcoinco/issues/47#issue-333285160

[2019-11-18 22:58] nazariyv opened #66 "Incorrect leaderboard order - Round 3"
**Current Behaviour:**
Currently, there are three people in top 3 of the leaderboard for round 3 gitcoin quests that share the same max score: 111. Me and two other people. The order isn't correct, though.

**Expected Behaviour:**
Instead of being sorted by the time a max score was achieved, the ordering is done in some other mechanism. The person who was in the first place: avalonche, obtained 11

[2019-12-04 02:01] tjayrush opened #67 "Appearently incorrect gas cost by 10 times on Grant Submission page"
It appears that the gas fee presented on the GitCoin Grants submission page is reporting incorrect gas costs by a factor of ten as seen in this screen shot.

<img width="1747" alt="Screen Shot 2019-12-03 at 8 51 36 PM" src="https://user-images.githubusercontent.com/5417918/70105854-17096180-1610-11ea-8f86-4a13729e9fc9.png">

[2019-12-04 14:46] owocki commented on #67
thanks TJ - copying this  issue over to the web repo... https://github.com/gitcoinco/web/issues/5591

[2019-12-04 18:14] owocki commented on #67
https://github.com/gitcoinco/web/commit/f2f9dfdc01def11fb6691f8ea693036bb3b2c210 should fix this

[2019-12-05 19:12] #67 closed, assigned to nobody

[2019-12-17 12:47] wimel opened #68 "Problem with Brave and Metamask"
Trying to connect Gitcoin with Brave I get the following error:
[code]
I think it's something related to the latest version of Brave that creates a wallet for you for the rewards, I tried to disable Brave's wallet and leave only Metamask's, but it doesn't work.
* Brave version:
`Versión 1.0.1 Chromium: 78.0.3904.108 (Build oficial) (64 bits)`

* Metamask version:
` 7.7.1`

* O.S:
`Ubuntu 18.04.3 L

[2020-01-03 14:26] BogdanHabic opened #69 "Stuck on processing transaction page while creating a new grant"
As the title suggests, while creating a new grant while waiting for the transaction the website got stuck on the processing transaction page.

Here is the transaction link: [Etherscan](https://etherscan.io/tx/0x9042be5635e5f5e6e744549987dae4b9d31ab8b2be91a46718b2bf571941fbf2).

Wallet used for submitting the transaction: Ledger Nano S via Metamask.

The grant in question is for the Tenderly projec

[2020-01-03 18:07] owocki commented on #69
ok looks like the grant was indeed posted https://gitcoin.co/grants/222/tenderly

i wonder if theres some issue with ledger nano tx's that we'll need to fix root cause..

[2020-01-03 19:40] BogdanHabic commented on #69
Interesting, I could’ve sweared we couldn’t find it anywhere on the site 🤔

I’m here if you need any additional information to debug the possible Ledger issue.

[2020-01-12 19:16] Mikerah opened #70 "Poor Gitcoin Grant UX"
I'm turning my twitter rant into a github issue around the experience setting up a gitcoin grant.

When I create a grant application, I'm expected to have metamask installed, configured and funded. If I don't then I can't even save the application for later. There no other website that expect this of their users even in web2.0. As a user, I should be able to simply create a grant application witho

[2020-01-12 19:47] owocki commented on #70
note that you can fund with most standard web3 wallets, metamask is just the one we recommend.

true true

[2020-01-12 22:37] Mikerah commented on #70
Metamask is the one that is not only recommended but needed to finish completing the grant.

[2020-01-18 15:32] jrhea opened #71 "CLR Matching info bug"
Yesterday the ethsear.ch grant was moved from media to tech and ever since then the "Next update" time has been in the past (see attached image).

Just an FYI.... there might a bug somewhere.

![Screenshot_20200118-092053](https://user-images.githubusercontent.com/5555162/72666134-d5245700-39d4-11ea-9f1d-f72b6e51cce3.jpg)

[2020-01-18 17:32] jrhea commented on #71
seems to be fixed

[2020-01-18 17:32] #71 closed, assigned to nobody

[2020-01-20 21:20] jpitts opened #72 "Grants landing page discourages discovery"
Several key issues are an obstacle for users arriving to explore and contribute.

## The landing page of Grants defaults to Tech

This is a classic UX mistake which distorts the funnel and could lead to problems w/ financial implications. It might even lead community leaders to decide that Tech is more important than other investment options.

**Suggestion**: aggregate Grants from both (all) categ

[2020-01-20 21:25] owocki commented on #72
This is really good feedback!  https://github.com/gitcoinco/web/issues/5855 tracks this on the web board for round 5

[2020-01-23 16:02] krrisis opened #73 "Number of contributors mentioned on the preview differs from actual (?) ones on detailed page"
When I take the preview of the Commons Stack page I see 99 Contributors:

![image](https://user-images.githubusercontent.com/6533925/73000867-d359f980-3e01-11ea-93ef-3187760faec0.png)

When I go to the detail [here](https://gitcoin.co/grants/277/commons-simulator-modeling-sustainable-funding-for?tab=contributors) I see 110 contributors. Which one is correct? I gather the second one bcs it's also w

[2020-01-23 17:26] owocki commented on #73
thanks! mind posting this to https://github.com/gitcoinco/web/issues ?

[2020-01-24 15:06] krrisis commented on #73
done

[2020-01-24 15:06] #73 closed, assigned to nobody

[2020-02-04 23:46] sthorpe opened #74 "I can't start work on a gitcoin bounty. Help? :)"
I get this message when I try to "start work" on a gitcoin bounty.

"Because a staff member has had to remove you from a bounty in the past, you are unable to startmore work at this time. Please leave a message on slack if you feel this message is in error."

Please let me know what I need to do next.

[2020-02-04 23:50] #74 closed, assigned to nobody

[2020-02-23 18:04] arun0930 opened #75 "0x7F4B0fc7c8BD0fe9e472B9F66e89EEC1BE52089f"
0x7F4B0fc7c8BD0fe9e472B9F66e89EEC1BE52089f

[2020-02-23 18:08] #75 closed

[2020-03-04 20:29] Dino-79 commented on #4
Help to connect metamask wallet...

[2020-03-26 07:59] Onebotband opened #77 "Not able to choose a token. The list is empty."
When trying to donate to Almonit grant in my mobile metamask (iOS) the token drop down list is empty so I can’t choose a token.
![2E62DCDE-9D13-4A7E-B957-69DCCE61EEBF](https://user-images.githubusercontent.com/60158814/77623243-d0d66600-6f50-11ea-8b36-0b5045ddae66.png)

[2020-03-26 13:16] owocki commented on #77
could you please fill out the bug report template?  for example: what browser are you on? whats your web3 state?   (connected to mainnet, locked, etc)

[2020-03-26 15:20] Onebotband commented on #77
Where can I find report template? I didn’t see it.
My browser is mobile metamask. It’s unlocked and connected to mainnet.

[2020-03-26 16:43] owocki commented on #77
thanks, thats helpful.   let me throw up a bounty and see if anyone can fix

[2020-03-27 11:50] sebastiantf commented on #77
@Onebotband Are you using the MetaMask Mobile Public Beta using the Apple Testflight service?

[2020-03-27 12:11] Onebotband commented on #77
Yes, version 0.2.14, the last one.

[2020-03-27 12:15] sebastiantf commented on #77
Ok. But the MetaMask Beta program is full so it seems I can't get it installed to try it.

It says [here](https://testflight.apple.com/join/4cYoRF4M) that `You can install the beta app on up to 30 devices`

I'm not sure, but maybe I could get it installed if you could share the beta invitation link that you received when you signed up for the Beta programme.

[2020-03-29 08:15] DISC30 opened #78 "Donated ETH not DAI"
Hay could you fix this: https://gitcoin.co/townsquare?tab=activity:192932
It should be ETH: https://etherscan.io/tx/0x0e043d0115feee42e990c0fbe2b96e6ebc3fbeb514e84b8c4db1d09c8f557d32
Not DAI: https://gitcoin.co/townsquare?tab=activity:192931

-thequantdev

[2020-03-30 02:31] owocki commented on #78
fixed!

On Sun, Mar 29, 2020 at 2:15 AM DISC30 <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-30 09:20] DISC30 commented on #78
Woah that was fast, thanks!

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Monday, 30 March 2020 02:31, Kevin Owocki <notifications@github.com> wrote:

[2020-03-30 09:34] DISC30 commented on #78
Woah that was fast, thanks!

[2020-03-30 09:34] #78 closed, assigned to nobody

[2020-03-30 16:20] sebastiantf commented on #77
Yes @gitcoinbot.

@onebotband can you please follow up? Waiting for your cooperation.

[2020-03-31 09:40] Onebotband commented on #77
Hey, sorry I can’t find the invitation link :(

[2020-04-06 14:26] DISC30 opened #79 "Tipped 5% not 1e-18 ETH"
Hay can u fix this too: https://gitcoin.co/townsquare?tab=activity:213215

It says I tipped 1e-18 ETH https://gitcoin.co/grants/525/cryptorado-oss-dev-fund?tab=transactions
But I actually tipped 5%

[2020-04-06 16:13] sebastiantf commented on #77
Yes @gitcoinbot.

@Onebotband @owocki It seems this issue is specific to MetaMask mobile. I tested the page in other Web3 browsers like Coinbase Wallet and it seems ok.

[2020-04-06 16:26] owocki commented on #77
interesting; i wonder if will be fixed when
https://github.com/MetaMask/metamask-mobile/issues/1273 is fixed

On Mon, Apr 6, 2020 at 10:14 AM Sebastian T F <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-06 16:28] Onebotband commented on #77
Hope so

Lilsiri.eth Ξ

Sent from ProtonMail Mobile

On Mon, Apr 6, 2020 at 19:26, Kevin Owocki <notifications@github.com> wrote:

[2020-04-07 11:55] sebastiantf opened #80 "Inconsistent Active Issues/Bounties in Progress in Dashboard and Profile"
The **`Active Issues`** in **Profile** and **`Bounties in Progress`** in **Dashboard** are not same.

Bounties in Progress in Dashboard shows the actual bounties while Active Issues in Profile shows **one less than the actual number** of active bounties:

**Dashboard**:
<img width="1112" alt="Screenshot 2020-04-07 at 5 22 12 PM" src="https://user-images.githubusercontent.com/36922376/78666098-78aa

[2020-04-07 20:26] AnneConnelly opened #81 "When typing long updates, it doesn't wrap and when you hit 'enter' it posts instead of making a line break"
![image](https://user-images.githubusercontent.com/16226861/78716134-6b895a00-78ec-11ea-8ee8-2117f7be875b.png)

[2020-04-11 02:56] DISC30 commented on #79
In case you can't find it, this is the page (I'm disc30):
![screenshot](https://user-images.githubusercontent.com/48271670/79033713-ecbc4780-7b9f-11ea-84c5-7584146be350.png)

[2020-04-11 04:01] DISC30 commented on #79
Oh it's because you have to submit both transactions. So I did that for this one (works much better now!):
https://etherscan.io/tx/0x8cbf9d45e44dbf688aa1e057515cfa46bf77bf4b5581abec5acc82dac127bd6f
https://etherscan.io/tx/0x2e702b01cc5a94a9de0f3077494e7f80a264b59be14b449912babdbb6592290f

It's just recording 1e-18 not 5% here: https://gitcoin.co/grants/220/cryptorado?tab=transactions

[2020-04-11 16:41] sebastiantf commented on #77
Yes @gitcoinbot

[2020-04-17 16:29] sebastiantf commented on #77
Yes @gitcoinbot. I'm waiting on progress from MetaMask/metamask-mobile#1273

[2020-04-26 01:49] yanganto opened #82 "Approve worker not works"
Hi there,

There maybe a bug on "approve worker" button.  It is not working for me a few minutes before.
And I got this message

"This worker does not exist or is not in a pending state. Perhaps they were already approved or rejected? Please check your link and try again."

Please kindly check on this, and here is the issue.
https://github.com/yanganto/nvim-translate/issues/5

[2020-04-26 16:39] sebastiantf commented on #77
@gitcoinbot. I'm waiting on progress from MetaMask/metamask-mobile#1273

[2020-04-26 23:14] owocki commented on #82
looks ot me like the worker who applied unapplied :vineetjai

On Sat, Apr 25, 2020 at 7:49 PM yanganto <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-27 01:41] yanganto commented on #82
So sad.  Got it and thanks.

[2020-04-27 01:41] #82 closed, assigned to nobody

[2020-04-28 13:58] rahulkrishna-web opened #83 "Change button design of Quest selected options in such a way that it is distinguishable against any background."
When we select the options in Quests, its background color changes to `rgb(15, 41, 70, 0.8)` which becomes indistinguishable against dark background.

In some quests,  It becomes difficult to find out whether the option got selected or not due to dark blue or deep color background.

![bug_img](https://user-images.githubusercontent.com/38241267/80496086-54d3a180-8986-11ea-8e24-fced60f62d4b.PNG)

[2020-04-28 14:03] rahulkrishna-web commented on #83
Moved to https://github.com/gitcoinco/web/issues/6517

[2020-04-28 14:03] #83 closed, assigned to nobody

[2020-05-02 16:16] sebastiantf commented on #77
@gitcoinbot waiting on MetaMask/metamask-mobile#1273

[2020-05-13 14:29] miscreant1 opened #84 "Kudos"
Hey, ive noticed i havent received 8 of my kudos from quests even though same inbox and not 8 in a row just 8 out of 43... I know about the double coin symbol for 2 of the same and those are in my inventory... Any recommendations helpful... Thanks

[2020-05-13 21:43] owocki commented on #84
do you know which kudos are missing? do you have a txid for any of them?

[2020-05-14 00:48] miscreant1 commented on #84
Hey, here are the ones that show up as delivered on my payments screen but
not in the kudos screen or wallet. Also, dont have the tracking numbers but
i have the time passed (as of 5:30pm California time)
Eth Guru- 1 day 4 hours
Firedog- 1 day 16 hours
Above and beyond - 1 day 16 hours
Turing Talker- 1 day 16 hours
Future City - 1 day 16 hours
Open source Freedom Fighter - 6 days 5 hours

1 was a

[2020-05-14 07:51] miscreant1 commented on #84
So my best guess is that its fraudulent quests started by people trying to gain points hence no validity in the outsourcing... I dont plan on losing my first place position so i will participate in the new quests only for point value for contest but wont collect on the kudos i see as fake... Im pretty sure this is the cause of the original issue which could i guess be closed if you think im correc

[2020-05-14 07:55] miscreant1 commented on #84
Aka pull me from ~$400 back to where i apparently should be circa ~$90ish +/-

[2020-05-14 13:59] owocki commented on #84
i actually think we may remove the "get points by creating quests" thing soon.  too many crappy quests being created i agree.

if you downvote thecrappy quests, the system will rank them lower + then eventually hide them.

[2020-05-19 16:34] #84 closed, assigned to nobody

[2020-06-02 11:41] L0GYKAL opened #85 "Uncomfirmed submitted bounties"
Hello, I've submitted 2 bounties last week for NYHackaton but on my dashboard I don't see them submitted though the Ethereum transactions are confirmed.
Tx ID:
0x7c6da9414449a5afeb906863a16bdedd2416c60efb4dfe07d38d63136bca5667
0x45e8f85900c5dcbcf49c5b3ab4f5bc8a962236e93320fe2c71bd9dfa0f59bda4

Screenshot of my dashboard:
![image](https://user-images.githubusercontent.com/32228897/83516078-b5e71b80

[2020-06-15 18:32] moose-code opened #86 "Not receiving kudos NFT"
Tried to redeem this bounty badge today, the transaction failed, and when I went onto the badge, seems like their is a hard capped amount? This isn't super clear as it still let me redeem it, and it showed it briefly on my profile, even though the transaction reverted.

<img width="460" alt="Screenshot 2020-06-15 at 20 29 39" src="https://user-images.githubusercontent.com/20556729/84693029-18b0cc0

[2020-06-15 18:34] moose-code commented on #86
<img width="1110" alt="Screenshot 2020-06-15 at 20 33 22" src="https://user-images.githubusercontent.com/20556729/84693218-76ddaf00-af47-11ea-80f5-8d8b915f6572.png">
<img width="1079" alt="Screenshot 2020-06-15 at 20 33 49" src="https://user-images.githubusercontent.com/20556729/84693285-86f58e80-af47-11ea-85ea-111aad3c9a06.png">
<img width="1074" alt="Screenshot 2020-06-15 at 20 34 07" src="https

[2020-06-15 19:55] owocki commented on #86
mind sending me your redemption link and the txid

[2020-06-15 19:56] owocki commented on #86
also i love your github username :P

[2020-06-17 14:08] moose-code commented on #86
Hi @owocki, thanks for getting back to me and sorry for the delay!

I believe these are the two tx ids:
0x0cb8832ee51fa37a75a34f5224b70f0c414698a89e986e130b2366b568d2616e
0x9b39d368ca31e6683786e300e8652eeff34362b36ab61f48bafdf4e27502272c

I am not sure where to find the redemption link?
Here is the one kudos:
https://gitcoin.co/kudos/12550/cypherpunk_bot

You will see I am the most recent person '

[2020-06-18 13:02] XuTPoBaH opened #87 "DELETE"
DELETE

[2020-06-21 13:34] XuTPoBaH commented on #87
since ETH was used in previous contribution, I decided to try again, but this time with DAI
txid [0x7BD6A39EDC93E3E8201B20CDC85644FF32C66322E06568A21A762A313E526E3D](https://etherscan.io/tx/0x7BD6A39EDC93E3E8201B20CDC85644FF32C66322E06568A21A762A313E526E3D)
DAI contribution was recorded as expected, unlike previous ETH

[2020-06-30 08:53] #87 closed, assigned to nobody

[2020-07-02 03:44] DISC30 opened #88 "tipped 0.002 ETH not 0.00 ETH"
Yo it's still not saying the tip right: https://gitcoin.co/townsquare?tab=activity:316647
I paid 0.038 ETH to the cryptorado grant and 0.002 ETH to gitcoin:  https://etherscan.io/tx/0xff5bc82d094f7ca3f211b3bd73e94f3999e7efaf357ccd8036ff67ac074baa81

[2020-08-05 15:03] RexShinka opened #92 "Trying to Cancel a GitCoin Grant, CANCEL button had no effect"
Hi, I created a GitCoin grant.  The grant had no donations and I realized I needed to change the address.  Thus I had to cancel the grant.  When I requested the Cancel and got the cancel dialog,  When I hit the big red cancel button, nothing happened.  The first time I did this I was running Firefox 79.0  on Windows with MetaMask active but on Goerli.  After I sent you the first text I realized th

[2020-08-05 16:46] owocki commented on #92
I just canceld the grant!

On Wed, Aug 5, 2020 at 9:04 AM Rex Hygate <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-09-21 08:36] versaceaci opened #94 "Scam Grant"
Hello gitcoinco.

This grantee is a scam: https://gitcoin.co/grants/238/bankless

Please do not fund them!

It is illegal what they are saying, "Self-Directed crypto IRA in a box
RocketDollar is a Self-Directed Custodian for self-directed retirement funds. And they’re crypto friendly. They setup the LLC and bank account for you. They pre-fill all the faxes and paperwork for funds transfers from yo

[2020-09-21 17:33] owocki commented on #94
hi; thanks for your report.   please use the 'flag' feature on the grant to report it!

[2020-09-21 17:33] #94 closed, assigned to nobody

[2020-09-27 00:16] versaceaci commented on #94
I have flagged it.

[2020-09-28 13:40] juandaveth opened #95 "[Grants 1147] We want to accept all tokens"
Hey awesome Gitcoin team!

I've created this [grant](https://gitcoin.co/grants/1147/coinosis-get-crypto-for-sharing-your-knowledge) for a project I'm working on. But I configured it to just accept DAI, I would to accept all type of coins. Some funders have told us they want to contribute to our grant.

Thanks in advance for your help!

[2020-09-29 18:16] owocki commented on #95
just updated it

[2020-09-29 19:19] juandaveth commented on #95
Confirmed! Gracias Kevin 🥇

[2020-09-29 19:19] #95 closed, assigned to nobody

[2020-09-30 19:45] DISC30 commented on #86
Strange, a kudos I redeemed a week ago (https://gitcoin.co/townsquare?tab=activity:371395) (attached) got dropped (https://etherscan.io/tx/0x05c530be37ded50c707e2a6bd5ae212cd6a3c6ebfc343e6bf36bee91483dd7d5) (attached). Any way to fix this?

It shows up here: https://gitcoin.co/townsquare?tab=activity:371395
but not here: https://gitcoin.co/disc30
![screenshot1](https://user-images.githubuserconten

[2020-09-30 20:03] DISC30 opened #96 "Donation shows up on blockexplorer but not gitcoin"
Hey there, I have a successful transaction which shows up on https://etherscan.io/tx/0x87c9b30f9bed715d0a060d1e99b0c923ff2c7f5ccdfa51d53f5dde7a7d2a7122 (attached) but shows up as Pending on the Gitcoin grants I sent it to (attached):

https://gitcoin.co/grants/237/week-in-ethereum-news?tab=transactions
https://gitcoin.co/grants/373/nym?tab=transactions
https://gitcoin.co/grants/821/umbra-privacy-p

[2020-09-30 21:44] nuke-web3 commented on #96
That tx you posted looks to be malformed, if you used zksync - there is no input data... But I am guessing here.

I see nothing landing in the cryptorado account: https://etherscan.io/address/0x1591b9056822c273252FcEA32963223650dB18e1#internaltx

Possibly an issue with blocking extensions in the browser used to execute the tx?

[2020-09-30 21:46] nuke-web3 commented on #96
not showing up on zksync either: https://zkscan.io/explorer/accounts/0x1591b9056822c273252FcEA32963223650dB18e1

[2020-10-01 18:16] DISC30 commented on #96
However the transaction (I only had one successful transaction this grants round) went through for at least one of the grants: https://gitcoin.co/townsquare?tab=activity:376638

Why is that?

[2020-10-05 19:16] owocki commented on #86
just updated the DB to make it so that the kudos will be accurately reflected in your profile. thanks for the report!

[2020-10-05 19:32] owocki commented on #86
on a go forward basis https://github.com/gitcoinco/web/pull/7490/files should handle this

[2020-10-16 21:25] scrapperbitch opened #97 "Unable to fullfill Bounty"
When i try to submitted the second work I got notify "Unable to fullfill Bounty. Please try again later". It's almost 2days :( and cuz this is my first bounty that i ever follow on the gitcoin and i don't knw what to do to fixed this. Pls help!
![unable_to fulfill bounty](https://user-images.githubusercontent.com/71956576/96310019-afde7b00-1030-11eb-866d-1d456c9dc890.png)

[2020-11-02 17:01] gaieges commented on #63
I've got the same issue here, what is the proper resolution @owocki ?

[2020-11-23 20:02] thebalaa opened #114 "Noteworthy grant, we deleted out funding key, OUCH!"
https://gitcoin.co/grants/1576/noteworthy-distributed-overlay-networks-for-token

@owocki pinging you as requested. I am super embarrassed to have fat finger deleted the key associated with our grant as I was attempting to back it up, so sorry for the trouble. I've created a new address and ensured it is properly backed up `0x381D475126107af05B5C78123925C5081D315551`

Can we update the funding add

[2020-11-23 20:59] owocki commented on #114
Sure can thebalaa +  patrickdlg
pls comment to let us know they're ok with the change too

On Mon, Nov 23, 2020 at 1:02 PM Mo Balaa <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-11-23 21:06] Patrickdlg commented on #114
Yes. I approve the change and can corroborate that I have a backup for `0x381d475126107af05b5c78123925c5081d315551` as well

[2020-11-23 21:10] thebalaa commented on #114
@owocki we have 2 contributors so far, the second contributors tx for 50 DAI is still pending, is there any way we can stop it?

[2020-11-23 21:27] owocki commented on #114
you can contract the contributor and ask them to replace the txn that is pending

[2020-11-23 21:34] thebalaa commented on #114
there is no pending tx as far as I can see, can you check on your end?

[2020-11-23 21:37] owocki commented on #114
you just told me there is a pending tx.

[2020-11-23 21:39] thebalaa commented on #114
it says pending in the Gitcoin UI but I cannot find a tx id anywhere in the UI or on etherscan,sorry for the confusion and thanks again for the excellent support.

[2020-11-23 22:47] thebalaa commented on #114
never mind we see its a zkSync tx. We're refunding the 2 user's contributions.

[2020-11-24 16:49] owocki commented on #114
just updated https://gitcoin.co/grants/1576/noteworthy-distributed-overlay-networks-for-token

[2020-11-24 19:37] thebalaa commented on #114
Thanks a bunch! any chance you can un-end the grant also?

[2020-11-24 19:44] owocki commented on #114
sure done

On Tue, Nov 24, 2020 at 12:37 PM Mo Balaa <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-12-01 16:54] thebalaa commented on #114
hey @owocki, for some reason our grant is ended again. Can you take a look, please? Thanks

[2020-12-01 17:09] owocki commented on #114
just fixed it

On Tue, Dec 1, 2020 at 9:54 AM Mo Balaa <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-12-01 17:31] thebalaa commented on #114
Thanks!

[2020-12-01 17:31] #114 closed, assigned to nobody

[2020-12-15 04:36] DISC30 opened #115 "Metamask alternatives, possibly removal"
Hay there, any way to just pay from my other wallet to the grants wallets directly? Metamask is not working (says I added $12.52 a week ago to metamask, says I still only have $0 in metamask) and the five or so other listed choices are susceptible to the same issue:
![wallet discrepancy](https://user-images.githubusercontent.com/48271670/102171825-51e2de00-3e8f-11eb-94f9-62c5bff49bd0.png)

[2020-12-15 04:47] DISC30 commented on #115
Also you can see the transaction is on the blockchain (https://etherscan.io/tx/0x6b696531904ed38f82fb4120e20b071917688a9f0aeafb4a7d063a35fee82c58) but not on the wallet app:
![wallet discrepancy2](https://user-images.githubusercontent.com/48271670/102172431-a5a1f700-3e90-11eb-915e-a742962615b8.png)

[2021-03-10 08:34] jjao2003 opened #119 "Hi"
Creative

[2021-03-14 01:39] jjao2003 opened #120 "Gitcoin"
Issue

[2021-03-24 23:56] DISC30 commented on #115
Yay wallet's working now! https://github.com/MetaMask/metamask-extension/issues/10076
Now the only thing preventing transactions is the gas fee (taking 2+ days to go through with >50% transaction fee):
![screenshot](https://user-images.githubusercontent.com/48271670/112399323-f29e3080-8cfd-11eb-82dc-7ac61d3e06ed.png)

[2021-03-24 23:56] #115 closed, assigned to nobody

[2021-04-12 20:21] payamsaremi opened #121 "Hi"
Hello gitcoin!

[2021-04-12 20:22] payamsaremi commented on #119
Hello gitcoin!

[2021-06-09 20:50] 0xwagyu opened #122 "Gitcoin faucet"
I filled out the form on the Gitcoin faucet. However, after confirming the transaction in my metamask and returning to the browser, I got a message "To continue, you'll need to unlock Metamask" which I already did. @owocki
![Screenshot_20210609_151128_com android chrome_edit_97720679278317](https://user-images.githubusercontent.com/41339459/121427501-6681c980-c93a-11eb-9129-a57ff3a9265a.jpg)

[2021-06-09 22:40] #122 closed, assigned to nobody

[2021-06-18 09:43] GayHubFire opened #123 "Reduce donation requirements."
Reduce donation requirements.

I like many projects that look good, but I don't have enough ETH to pay (or I don't have enough money). I want to donate them to make them successful, but I hope to reduce the limit.

[2021-06-18 09:51] gitcoin006 opened #124 "More and more projects can join."
More and more projects can join.

[2021-06-18 09:51] gitcoin003 opened #125 "gitcoin can attract more people to participate"
gitcoin can attract more people to participate

[2021-06-18 09:51] gitcoin001 opened #126 "Gitcoin can add BSC mainnet"
Gitcoin can add BSC mainnet

[2021-06-18 09:51] gitcoin002 opened #127 "gitcoin can introduce more networks, not just ETH"
gitcoin can introduce more networks, not just ETH

[2021-06-18 09:51] gitcoin005 opened #128 "Able to let more people know about Gitcoin"
Able to let more people know about Gitcoin

[2021-06-18 09:56] gitcoin004 opened #129 "more developers are joining"
More and more developers are joining

[2021-06-18 11:55] nikbhintade commented on #127
Gitcoin can introduce NEAR. I think their ETH bridge is good that's why I am suggesting it.

[2021-06-18 11:59] nikbhintade commented on #125
I didn't understand, what this bounty is but gitcoin can attract more developer by having open-source internship program like most FAANG have already. This can attract many students.

Many students are looking for open-source internships.

[2021-06-18 13:32] Unstoppable94 commented on #129
i am joining

[2021-06-24 01:25] jzaki opened #130 "Bot saying "Transaction status: unknown" when paid via different txID"
What happened:
Funding via one tx got locked, so dropped it for another.
Bot did not pick up this change, so sees it as unpaid.

Ideally the txID checked by the bot can be sensibly updated.

From - https://gitcoin.co/jzaki
[code]
[code]

[2021-06-24 04:28] helloworldtass opened #131 "More Chain Network"
More Chain Network

Not only the ETH ecology, but more chain ecology should also be introduced.

[2021-06-28 23:06] Ancalagon21 commented on #131
Yes you're right

[2021-06-28 23:11] Ancalagon21 commented on #130
When bot

[2021-06-28 23:12] Ancalagon21 commented on #129
Issue Status: 1. Open 2. Started 3. Submitted 4. Done

[2021-06-28 23:13] Ancalagon21 commented on #128
We are work for this

[2021-06-28 23:15] Ancalagon21 commented on #127
Yes you're right. We are work now for this

[2021-06-28 23:15] Ancalagon21 commented on #126
Yes you're right. We are work now for this

[2021-06-28 23:16] Ancalagon21 commented on #124
Yes you're right. We are work now for this

[2021-06-28 23:16] Ancalagon21 commented on #123
Yes you're right. We are work now for this

[2021-06-28 23:16] Ancalagon21 commented on #121
Hello welcome!

[2021-06-28 23:17] Ancalagon21 commented on #120
Which issue?

[2021-06-28 23:17] Ancalagon21 commented on #119
Hello welcome

[2021-07-23 08:19] shuhaibzahir commented on #6
its so encouraged me thank you

[2021-07-31 15:34] rifxyzz opened #132 "GROW OPEN"

[2021-08-20 03:04] CryptonightCanada opened #133 "Advanced Tip Loaning"
### **_URGENT_**
https://gitcoin.co/townsquare?tab=activity:544639
This platform says that I recieved a 10 ETH TIP and AGAIN NOTHINGs been sent or corresponds with my actual wallet .

I am going to be HOMELESS in two weeks due to Being on LONG TERM DISABILITY (*my poor financial situation) doesn't leave much opportunity to rent a place for MY SERVICE DOG AND SELF to be safe and sheltered during th

[2021-08-20 13:53] owocki commented on #133
youll want to contact the sender of the tip to ask what the txid of it was and if they can resend it if it was not successfuly sent.

[2021-08-20 13:53] #133 closed, assigned to nobody

[2021-08-20 14:22] CryptonightCanada commented on #133
@owocki
Kevin, The sender of the tip was @gitcoinbot (https://gitcoin.co/townsquare?tab=activity:544639)

I asked 1.25 MONTHS (1month.1week) ago  without any answers. (https://gitcoin.co/townsquare?tab=activity:2293571)

PLEASE EXPEDITE THIS MATTER OR HAVE STAFF FORWARD ME SOME FUNDS, I am GETTING DESPERATE!  I've been ASKING FOR EVER.. I AM STARVING and I WAS TOLD BY GITCOIN TO JOIN GITCOIN AND S

[2021-08-20 14:54] owocki commented on #133
you can email support@gitcoin.co or contact the person who sent the tip  - just posting in random spots and yelling in all caps is not helping.

[2021-08-20 15:21] CryptonightCanada opened #134 "Reply AND PAY >$20,000 in eth ~URGENT GITCOIN! MAKING ME HOMELESS AGAIN"
in response to @owocki  https://github.com/gitcoinco/gitcoinco/issues/133#issuecomment-902728451

_### I have not been receiving ANY support for over 1/2year on my 10eth tip from @gitcoinbot {7months ago}!   I again REQUESTED help just over a month and 1 week ago without a single reply in Town Square! https://gitcoin.co/townsquare?tab=activity:2293571_

CAN SOMEBODY PLEASE HELP ME!  I'M DESPERATE

[2021-09-21 09:39] Uchezinny opened #135 "Uchezinny"

[2021-09-23 19:10] scco opened #136 "wallet dropdown menu shows wrong token on other networks"
<img width="523" alt="Bildschirmfoto 2021-09-23 um 21 06 25" src="https://user-images.githubusercontent.com/569641/134568572-0a65e704-a17a-4ef8-b085-49222362ebbf.png">

connect to polygon - see, it displays 130 ETH instead of 130 MATIC.

for one second i thought - omg who send me 130ETH ...

[2021-11-10 12:03] lin7880 opened #137 "新计划"
新的要求

[2021-11-13 09:35] jdwk1510 commented on #137
？

[2021-12-13 08:20] JulyElektra opened #138 "Add Climate Change tag and Match grant"
https://gitcoin.co/grants/3771/wearable-couture-nfts-for-social-media-and-metave

I asked a general support (https://support.gitcoin.co/ticket/4035/) to add tag climate change and match to climate change grant, but they said me to create issue on github.

[2021-12-14 09:41] Kirstygoodary opened #139 "Transfer grant ownership to another team member"
Hi, I can't find a way to transfer grant ownership from myself to another team member.

https://gitcoin.co/grants/1565/demystifi-security-in-metamask

Please can ownership be transferred to @extropycoder.

[2021-12-14 09:59] ghost opened #140 "Unable to see or receive tip after github username change"
Who
amirfromtehran

What

Registered on gitcoin.co when my github username was amiralarab, so I got the profile gitcoin.co/amiralarab
Changed my github username to amirfromtehran
No received tip to @amiralarab on gitcoin.co
Could not view tip, not showing in the menu, gitcoin.co still showing my old username.

Thanks!

[2021-12-14 10:03] #140 closed, assigned to nobody

[2021-12-21 16:38] Chuongproz commented on #136
0x57d31122e73A245f8e1B2676fD588564d7e82359

[2022-01-25 12:01] cryptoekof opened #142 "Updating wallet due to Gnosis Safe old contract"
Hi there, we would like to change the destination wallet asap.

Grant's Link: https://gitcoin.co/grants/3389/nft-price-floor
New Wallet: 0x31856e11ddaabc67e3b7b5de50Dd0EFcE86e361e
Old Wallet: 0xFb3bF2fA1Ef3bEA88eeF282eab2Cd2621eE2011A
Reason: last gitcoin grants (12) we had gnosis safe problems due to an old contract causing we could not accept polygon transactions. We need to update our wallet to

[2022-01-25 14:10] owocki commented on #142
hi @cryptoekof can you pls email support@gitcoin.co

[2022-01-25 15:12] cryptoekof commented on #142
hi @owocki, thanks for the quick reply. I did before this and I was forwared to create an issue in here :)

[2022-01-25 16:53] PinkDiamond1 commented on #142
https://withdraw.zksync.io/?address=0xfb3bf2fa1ef3bea88eef282eab2cd2621ee2011a

[2022-01-25 23:19] cryptoekof commented on #142
We did withdraw from zk. Why is this related?

[2022-02-02 00:03] mattcoburn24 opened #143 "Website accessibility"
redacted for phishing...

[2022-02-02 02:21] owocki commented on #143
That is not a gitcoin website. It is a scam site.

On Tue, Feb 1, 2022 at 5:03 PM Matt ***@***.***> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $50mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2022-02-02 04:23] #143 closed, assigned to nobody

[2022-03-11 22:44] tim-schultz opened #146 "Fix TS Lint Errors on Merkle Payout"

[2022-03-11 22:48] #146 closed, assigned to nobody

[2022-07-26 07:49] foufrix opened #149 "Every time I'm trying to see my Open Bounty it never loads"
Hi, when clicking on account > My Bounties > Created by me, the screen loads forever, filters are only set to Status: Any
Here is a screenshot :
<img width="1425" alt="image" src="https://user-images.githubusercontent.com/16646581/180952630-c868888c-e928-4fcc-9031-32f4bc68f9a9.png">

[2022-09-22 01:59] cryptomaxdagr8t opened #150 "GITCOIN DONATION VIA ZKSYNC"
Hello, kindly assist....While trying to pay via zksync i accidentally closed the page before transaction waa confirmed, checking on ZKSync funds where sent but not recorded on gitcoin grant....what do I do?

[2022-09-29 04:07] lthrift opened #151 "Remove anonymize grants contributions option"
This functionality no longer works or is supported and needs to be removed from the a user's options.

Details here: https://discord.com/channels/562828676480237578/1022430992012677121/1022430994411814922

[2022-09-29 06:16] thelostone-mc commented on #151
Assiging this to @vacekj! Can't seem to tag him in the issue and hence the comment

[2022-09-29 06:43] lthrift commented on #151
@thelostone-mc i have the backlog prioritized. It would be great if we could be sure to work of the top of the backlog please 🙏

[2022-09-30 08:54] #151 closed, assigned to nobody

[2022-11-01 09:49] kowksicoder opened #152 "Account Ownership Transfer (redo)"
Change account ownership.

2.  Grant's creator Ethereum Payout Address  -  0x3953017AF23aB99a7d40f3D26F1595f27c91345f
3. Grant's link - https://gitcoin.co/grants/1599/givestation

4. The reason for the change. - The previous account ownership change was for an Org github account which did not work, now we want it to changed to this account (gitcoin.co/mrbloomguy)

5. New owner's username - mrbloom

[2022-11-01 10:11] MrBloomguy opened #153 "Ownership Transfer"
2.  Grant's creator Ethereum Payout Address  -  0x3953017AF23aB99a7d40f3D26F1595f27c91345f
3. Grant's link - https://gitcoin.co/grants/1599/givestation

4. The reason for the change. - The previous account ownership change was for an Org github account which did not work, now we want it to changed to this account ([gitcoin.co/mrbloomguy](http://gitcoin.co/mrbloomguy))

5. New owner's username - mr

[2022-11-25 11:53] L0GYKAL commented on #85
On day, this issue will be reviewed lol